# Python Introduction

Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.  
**It is used for:**  
>•	web development (server-side),  
•	software development,  
•	mathematics,  
•	System scripting.  
  
***What can Python do?***  
>•	Python can be used on a server to create web applications.  
•	Python can be used alongside software to create workflows.  
•	Python can connect to database systems. It can also read and modify files.  
•	Python can be used to handle big data and perform complex mathematics.  
•	Python can be used for rapid prototyping, or for production-ready software development.  
  
***Why Python?***  
>•	Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).  
•	Python has a simple syntax similar to the English language.  
•	Python has syntax that allows developers to write programs with fewer lines than some other programming languages.  
•	Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.  
•	Python can be treated in a procedural way, an object-oriented way or a functional way.  
  
***Good to know***  
>•	The most recent major version of Python is Python 3, which we shall be using in this tutorial. However, Python 2, although not being updated with anything other than security updates, is still quite popular.  
•	In this tutorial Python will be written in a text editor. It is possible to write Python in an Integrated Development Environment, such as Thonny,   Pycharm, Netbeans or Eclipse which are particularly useful when managing larger collections of Python files.  
  
***Python Syntax compared to other programming languages***  
>•	Python was designed for readability, and has some similarities to the English language with influence from mathematics.  
•	Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.  
•	Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.  

**Example**

In [1]:
print("Hello, World!")

Hello, World!

## Python Version  
To check the Python version of the editor, you can find it by importing the sys module:  

**Example**  
Check the Python version of the editor:

In [2]:
import sys
print(sys.version)

3.12.4 | packaged by conda-forge | (main, Jun 17 2024, 10:04:44) [MSC v.1940 64 bit (AMD64)]

# Python Syntax

## Python Indentation  
Indentation refers to the spaces at the beginning of a code line.  

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.  

Python uses indentation to indicate a block of code.  

**Example**

In [3]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

Python will give you an error if you skip the indentation:  

**Example**

In [4]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (3793329317.py, line 2)

The number of spaces is up to you as a programmer, the most common use is four, but it has to be at least one.

**Example**

In [5]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

You have to use the same number of spaces in the same block of code, otherwise Python will give you an error:

**Example**

In [6]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (3430240237.py, line 3)

## Python Variables  
In Python, variables are created when you assign a value to it:  

**Example**  
Variables in Python:

In [8]:
x = 5
y = "Hello, World!"

Python has no command for declaring a variable.

# Python Comments

## Single Line Comments

In [ ]:
Comments can be used to explain Python code.  
Comments can be used to make the code more readable.  
Comments can be used to prevent execution when testing code.  

## Creating a Comment  
Comments starts with a  #, and Python will ignore them:

**Example**

In [9]:
#This is a comment
print("Hello, World!")

Hello, World!

Comments can be placed at the end of a line, and Python will ignore the rest of the line:

**Example**

In [ ]:
print("Hello, World!") #This is a comment

A comment does not have to be text that explains the code, it can also be used to prevent Python from executing code:

**Example**

In [ ]:
#print("Hello, World!")
print("Cheers, Mate!"

## Multiline Comments
Python does not really have a syntax for multiline comments.

To add a multiline comment you could insert a # for each line:

**Example**

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Or, not quite as intended, you can use a multiline string.

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

**Example**

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

# Python Variables

## Introduction

Variables are containers for storing data values.

### Creating Variables  
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

**Example**

In [ ]:
x = 5
y = "John"
print(x)
print(y)

Variables do not need to be declared with any particular type, and can even change type after they have been set.

**Example**

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

### Casting  
If you want to specify the data type of a variable, this can be done with casting.

**Example**

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

### Get the Type  
You can get the data type of a variable with the type() function.

**Example**

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

### Single or Double Quotes?  
String variables can be declared either by using single or double quotes:

**Example**

In [ ]:
x = "John"
# is the same as
x = 'John'

### Case-Sensitive  
Variable names are case-sensitive.

**Example**
This will create two variables:

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

## Variable Names

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:  
>•	A variable name must start with a letter or the underscore character
•	A variable name cannot start with a number
•	A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
•	Variable names are case-sensitive (age, Age and AGE are three different variables)
•	A variable name cannot be any of the Python keywords.

**Example**  
Legal variable names:

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

**Example**  
Illegal variable names:

In [ ]:
2myvar = "John"
my-var = "John"
my var = "John"

>Remember that variable names are case-sensitive

### Multi Words Variable Names

Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

**Camel Case**  
Each word, except the first, starts with a capital letter:  
  myVariableName = "John"

**Pascal Case**  
Each word starts with a capital letter:  
MyVariableName = "John"

**Snake Case**  
Each word is separated by an underscore character:  
my_variable_name = "John"

## Assign Multiple Values

***Many Values to Multiple Variables***  
Python allows you to assign values to multiple variables in one line:

**Example**

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

***One Value to Multiple Variables***  
And you can assign the same value to multiple variables in one line:

**Example**

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

***Unpack a Collection***  
If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

**Example**  
Unpack a list:

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

## Output Variables

The Python print() function is often used to output variables.

**Example**

In [ ]:
x = "Python is awesome"
print(x)

In the print() function, you output multiple variables, separated by a comma:

**Example**

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

You can also use the + operator to output multiple variables:

**Example**

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

>Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".

For numbers, the + character works as a mathematical operator:

**Example**

In [ ]:
x = 5
y = 10
print(x + y)

In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

**Example**

In [ ]:
x = 5
y = "John"
print(x + y)

## Global Variables

Variables that are created outside of a function (as in all of the examples in the previous pages) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

**Example**  
Create a variable outside of a function, and use it inside the function

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

**Example**  
Create a variable inside a function, with the same name as the global variable

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

***The global Keyword***  
Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

**Example**  
If you use the global keyword, the variable belongs to the global scope:

In [ ]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Also, use the global keyword if you want to change a global variable inside a function.

**Example**  
To change the value of a global variable inside a function, refer to the variable by using the global keyword:

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

# Python Data Types

## Built-in Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

  Text Type:	str
  Numeric Types:	int, float, complex
  Sequence Types:	list, tuple, range
  Mapping Type:	dict
  Set Types:	set, frozenset
  Boolean Type:	bool
  Binary Types:	bytes, bytearray, memoryview
  None Type:	NoneType

## Getting the Data Type

You can get the data type of any object by using the type() function:

**Example**  
Print the data type of the variable x:

In [10]:
x = 5
print(type(x))

<class 'int'>

## Setting the Data Type

In Python, the data type is set when you assign a value to a variable:

In [11]:
x = "Hello World"

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [12]:
x = 20

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

In [13]:
x = 20.5

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

In [14]:
x = ["apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [15]:
x = 1j

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [16]:
x = ["apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [17]:
x = ("apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [18]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [19]:
x = {"name" : "John", "age" : 36}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [20]:
x = {"apple", "banana", "cherry"}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'banana', 'cherry', 'apple'}
<class 'set'>

In [21]:
x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>

In [22]:
x = True

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [23]:
x = b"Hello"

#display x:
print(x)

#display the data type of x:
print(type(x))

b'Hello'
<class 'bytes'>

In [24]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [25]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x000001AA78628640>
<class 'memoryview'>

In [26]:
x = None

#display x:
print(x)

#display the data type of x:
print(type(x))

None
<class 'NoneType'>

## Setting the Specific Data Type

If you want to specify the data type, you can use the following constructor functions:

In [27]:
x = str("Hello World")

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [28]:
x = int(20)

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

In [29]:
x = float(20.5)

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

In [30]:
x = complex(1j)

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [31]:
x = list(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [32]:
x = tuple(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [33]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [34]:
x = dict(name="John", age=36)

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [35]:
x = set(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

{'banana', 'cherry', 'apple'}
<class 'set'>

In [36]:
x = frozenset(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>

In [37]:
x = bool(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [38]:
x = bytes(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

b'\x00\x00\x00\x00\x00'
<class 'bytes'>

In [39]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [40]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x000001AA78628640>
<class 'memoryview'>

# Python Numbers

There are three numeric types in Python:
>•	int  
•	float  
•	complex  

Variables of numeric types are created when you assign a value to them:


**Example**

In [41]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

To verify the type of any object in Python, use the type() function:

**Example**

In [42]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

## Int
Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

**Example**  
Integers:

In [43]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

## Float
Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

**Example**  
Floats:

In [44]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

**Example**  
Floats:

In [45]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

## Complex
Complex numbers are written with a "j" as the imaginary part:

**Example**  
Complex:

In [49]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

## Type Conversion  
You can convert from one type to another with the int(), float(), and complex() methods:

**Example**  
Convert from one type to another:

In [48]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

> Note: You cannot convert complex numbers into another number type.

## Random Number
Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

**Example**  
Import the random module, and display a random number between 1 and 9:

# Python Casting

***Specify a Variable Type***  
There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

  int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)  
  float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)  
  str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals  

**Example**  
Integers:

In [51]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

**Example**  
Floats:

In [52]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

**Example**  
Strings:

In [53]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

# Python Strings

## Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

Example

In [54]:
print("Hello")
print('Hello')

Hello
Hello

### Quotes Inside Quotes
You can use quotes inside a string, as long as they don't match the quotes surrounding the string:

**Example**

In [55]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

### Assign String to a Variable  
Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

**Example**

In [56]:
a = "Hello"
print(a)

Hello

### Multiline Strings
You can assign a multiline string to a variable by using three quotes:

**Example**  
You can use three double quotes:

In [57]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Or three single quotes:

Example

In [58]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

>Note: in the result, the line breaks are inserted at the same position as in the code.

### Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

**Example**  
Get the character at position 1 (remember that the first character has the position 0):

In [59]:
a = "Hello, World!"
print(a[1])

e

### Looping Through a String  
Since strings are arrays, we can loop through the characters in a string, with a for loop.

**Example**  
Loop through the letters in the word "banana":

In [60]:
for x in "banana":
  print(x)

b
a
n
a
n
a

### String Length
To get the length of a string, use the len() function.

**Example**  
The len() function returns the length of a string:

In [61]:
a = "Hello, World!"
print(len(a))

13

### Check String
To check if a certain phrase or character is present in a string, we can use the keyword in.

**Example** 
Check if "free" is present in the following text:

In [62]:
txt = "The best things in life are free!"
print("free" in txt)

True

Use it in an if statement:

**Example**  
Print only if "free" is present:

In [63]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

Check if NOT
To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

**Example**  
Check if "expensive" is NOT present in the following text:

In [65]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

## Slicing Strings

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

**Example**  
Get the characters from position 2 to position 5 (not included):

In [66]:
b = "Hello, World!"
print(b[2:5])

llo

>Note: The first character has index 0.

### Slice From the Start
By leaving out the start index, the range will start at the first character:

**Example**  
Get the characters from the start to position 5 (not included):

In [68]:
b = "Hello, World!"
print(b[:5])

Hello

### Slice To the End
By leaving out the end index, the range will go to the end:

**Example**  
Get the characters from position 2, and all the way to the end:

In [69]:
b = "Hello, World!"
print(b[2:])

llo, World!

### Negative Indexing
Use negative indexes to start the slice from the end of the string:  
**Example**  
Get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):

In [70]:
b = "Hello, World!"
print(b[-5:-2])

orl

## Modify Strings

Python has a set of built-in methods that you can use on strings.

***Upper Case***  
**Example**  
The upper() method returns the string in upper case:

In [75]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

***Lower Case***  
**Example**  
The lower() method returns the string in lower case:

In [76]:
a = "Hello, World!"
print(a.lower())

hello, world!

***Remove Whitespace***  
Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

**Example**  
The strip() method removes any whitespace from the beginning or the end:

In [77]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

***Replace String***  
**Example**  
The replace() method replaces a string with another string:

In [78]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

***Split String***  
The split() method returns a list where the text between the specified separator becomes the list items.

**Example**  
The split() method splits the string into substrings if it finds instances of the separator:

In [79]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

## String Concatenation

To concatenate, or combine, two strings you can use the + operator.

**Example**  
Merge variable a with variable b into variable c:

In [80]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

**Example**  
To add a space between them, add a " ":

In [81]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

## Format - Strings

As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

**Example**

In [82]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using f-strings or the format() method!

***F-Strings***  
F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

**Example**  
Create an f-string:

In [83]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

***Placeholders and Modifiers***  
A placeholder can contain variables, operations, functions, and modifiers to format the value.

**Example**  
Add a placeholder for the price variable:

In [84]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

A placeholder can include a modifier to format the value.

A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals:

**Example**  
Display the price with 2 decimals:

In [85]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

A placeholder can contain Python code, like math operations:

**Example**  
Perform a math operation in the placeholder, and return the result:

In [86]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

## Escape Characters

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

**Example**  
You will get an error if you use double quotes inside a string that is surrounded by double quotes:

In [87]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

To fix this problem, use the escape character \":

**Example**  
The escape character allows you to use double quotes when you normally would not be allowed:

In [89]:
txt = "We are the so-called \"Vikings\" from the north."

***Escape Characters***  
Other escape characters used in Python:
 
\'  ---->	Single Quote  
\\  ---->	Backslash  
\n  ---->	New Line  
\r  ---->	Carriage Return  
\t  ---->	Tab  
\b  ---->	Backspace  
\f  ---->	Form Feed  
\ooo ----> 	Octal value  
\xhh ----> 	Hex value

In [90]:
txt = 'It\'s alright.'
print(txt)

It's alright.

In [91]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [92]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [93]:
txt = "Hello\rWorld!"
print(txt)

World!

In [94]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [95]:
#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

HelloWorld!

In [96]:
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [97]:
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

## String Methods

<span style='color:FireBrick'>**Note:** We can skip string methods as reference for later usage.</span>  

Python has a set of built-in methods that you can use on strings.

>Note: All string methods return new values. They do not change the original string.  

| Method         | Description                                                                                   |
| -------------- | --------------------------------------------------------------------------------------------- |
| capitalize()   | Converts the first character to upper case                                                    |
| casefold()     | Converts string into lower case                                                               |
| center()       | Returns a centered string                                                                     |
| count()        | Returns the number of times a specified value occurs in a string                              |
| encode()       | Returns an encoded version of the string                                                      |
| endswith()     | Returns true if the string ends with the specified value                                      |
| expandtabs()   | Sets the tab size of the string                                                               |
| find()         | Searches the string for a specified value and returns the position of where it was found      |
| format()       | Formats specified values in a string                                                          |
| format_map()   | Formats specified values in a string                                                          |
| index()        | Searches the string for a specified value and returns the position of where it was found      |
| isalnum()      | Returns True if all characters in the string are alphanumeric                                 |
| isalpha()      | Returns True if all characters in the string are in the alphabet                              |
| isascii()      | Returns True if all characters in the string are ascii characters                             |
| isdecimal()    | Returns True if all characters in the string are decimals                                     |
| isdigit()      | Returns True if all characters in the string are digits                                       |
| isidentifier() | Returns True if the string is an identifier                                                   |
| islower()      | Returns True if all characters in the string are lower case                                   |
| isnumeric()    | Returns True if all characters in the string are numeric                                      |
| isprintable()  | Returns True if all characters in the string are printable                                    |
| isspace()      | Returns True if all characters in the string are whitespaces                                  |
| istitle()      | Returns True if the string follows the rules of a title                                       |
| isupper()      | Returns True if all characters in the string are upper case                                   |
| join()         | Joins the elements of an iterable to the end of the string                                    |
| ljust()        | Returns a left justified version of the string                                                |
| lower()        | Converts a string into lower case                                                             |
| lstrip()       | Returns a left trim version of the string                                                     |
| maketrans()    | Returns a translation table to be used in translations                                        |
| partition()    | Returns a tuple where the string is parted into three parts                                   |
| replace()      | Returns a string where a specified value is replaced with a specified value                   |
| rfind()        | Searches the string for a specified value and returns the last position of where it was found |
| rindex()       | Searches the string for a specified value and returns the last position of where it was found |
| rjust()        | Returns a right justified version of the string                                               |
| rpartition()   | Returns a tuple where the string is parted into three parts                                   |
| rsplit()       | Splits the string at the specified separator, and returns a list                              |
| rstrip()       | Returns a right trim version of the string                                                    |
| split()        | Splits the string at the specified separator, and returns a list                              |
| splitlines()   | Splits the string at line breaks and returns a list                                           |
| startswith()   | Returns true if the string starts with the specified value                                    |
| strip()        | Returns a trimmed version of the string                                                       |
| swapcase()     | Swaps cases, lower case becomes upper case and vice versa                                     |
| title()        | Converts the first character of each word to upper case                                       |
| translate()    | Returns a translated string                                                                   |
| upper()        | Converts a string into upper case                                                             |
| zfill()        | Fills the string with a specified number of 0 values at the beginning                         |

**string.capitalize()**  
_Method returns a string where the first character is upper case, and the rest is lower case._

In [98]:
txt = "hello, and welcome to my world."
x = txt.capitalize()
print (x)

Hello, and welcome to my world.

In [99]:
txt = "36 is my age."
x = txt.capitalize()
print (x)

36 is my age.

**string.casefold()**  
_Method is similar to the lower() method, but the casefold() method is stronger, more aggressive, meaning that it will convert more characters into lower case, and will find more matches when comparing two strings and both are converted using the casefold() method._

In [100]:
txt = "Hello, And Welcome To My World!"
x = txt.casefold()
print(x)

hello, and welcome to my world!

**string.center(length, character)**  
_Method will center align the string, using a specified character (space is default) as the fill character._  
length	: Required. The length of the returned string  
character	: Optional. The character to fill the missing space on each side. Default is " " (space)

In [101]:
txt = "banana"
x = txt.center(20, "O")
print(x)

OOOOOOObananaOOOOOOO

**string.count(value, start, end)**  
_Method returns the number of times a specified value appears in the string._  
value :	Required. A String. The string to value to search for  
start :	Optional. An Integer. The position to start the search. Default is 0  
end :	Optional. An Integer. The position to end the search. Default is the end of the string

In [102]:
#Return the number of times the value "apple" appears in the string:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
print(x)

2

In [103]:
#Search from position 10 to 24:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple", 10, 24)
print(x)

1

**string.encode(encoding=encoding, errors=errors)**  
_Method encodes the string, using the specified encoding. If no encoding is specified, UTF-8 will be used._  
encoding :	Optional. A String specifying the encoding to use. Default is UTF-8  
errors :	Optional. A String specifying the error method. Legal values are:  
'backslashreplace'	- uses a backslash instead of the character that could not be encoded  
'ignore'	- ignores the characters that cannot be encoded  
'namereplace'	- replaces the character with a text explaining the character  
'strict'	- Default, raises an error on failure  
'replace'	- replaces the character with a questionmark  
'xmlcharrefreplace'	- replaces the character with an xml character

In [104]:
#UTF-8 encode the string:
txt = "My name is Ståle"
x = txt.encode()
print(x)

b'My name is St\xc3\xa5le'

In [105]:
#other encodings
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [106]:
#iso-8859-1 encode the string:
txt = "My name is Ståle"
x = txt.encode("iso-8859-1")
print(x)

b'My name is St\xe5le'

**string.endswith(value, start, end)**  
_Method returns True if the string ends with the specified value, otherwise False._  
value :	Required. The value to check if the string ends with  
start :	Optional. An Integer specifying at which position to start the search  
end :	Optional. An Integer specifying at which position to end the search

In [107]:
# Check if the string ends with a punctuation sign (.):
txt = "Hello, welcome to my world."
x = txt.endswith(".")
print(x)

True

In [108]:
#Check if the string ends with the phrase "my world.":
txt = "Hello, welcome to my world."
x = txt.endswith("my world.")
print(x)

True

In [109]:
#Check if position 5 to 11 ends with the phrase "my world.":
txt = "Hello, welcome to my world."
x = txt.endswith("my world.", 5, 11)
print(x)

False

**string.expandtabs(tabsize)**  
_Method sets the tab size to the specified number of whitespaces._  
tabsize :	Optional. A number specifying the tabsize. Default tabsize is 8

In [110]:
#Set the tab size to 2 whitespaces:
txt = "H\te\tl\tl\to"
x =  txt.expandtabs(2)
print(x)

H e l l o

In [111]:
#See the result using different tab sizes:
txt = "H\te\tl\tl\to"
print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

**string.find(value, start, end)**  
_The find() method finds the first occurrence of the specified value.  
The find() method returns -1 if the value is not found.  
The find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found._  
value :	Required. The value to search for  
start :	Optional. Where to start the search. Default is 0  
end :	Optional. Where to end the search. Default is to the end of the string

In [113]:
#Where in the text is the word "welcome"?
txt = "Hello, welcome to my world."
x = txt.find("welcome")
print(x)

7

In [114]:
#Where in the text is the first occurrence of the letter "e"?:
txt = "Hello, welcome to my world."
x = txt.find("e")
print(x)

1

In [115]:
#Where in the text is the first occurrence of the letter "e" when you only search between position 5 and 10?:
txt = "Hello, welcome to my world."
x = txt.find("e", 5, 10)
print(x)

8

In [117]:
#If the value is not found, the find() method returns -1, but the index() method will raise an exception:
txt = "Hello, welcome to my world."
print(txt.find("q"))

-1

In [118]:
print(txt.index("q"))

ValueError: substring not found

**string.format(value1, value2...)**  
_The format() method formats the specified value(s) and insert them inside the string's placeholder.  
The placeholder is defined using curly brackets: {}. Read more about the placeholders in the Placeholder section below.  
The format() method returns the formatted string._  
value1, value2... :	Required.
>One or more values that should be formatted and inserted in the string.  
The values are either a list of values separated by commas, a key=value list, or a combination of both.  
The values can be of any data type.

In [120]:
#Using different placeholder values:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)

_Formatting Types:_  
Inside the placeholders you can add a formatting type to format the result:  
:<		&emsp;Left aligns the result (within the available space)  
:>		&emsp;Right aligns the result (within the available space)  
:^		&emsp;Center aligns the result (within the available space)  
:=		&emsp;Places the sign to the left most position  
:+		&emsp;Use a plus sign to indicate if the result is positive or negative  
:-		&emsp;Use a minus sign for negative values only  
: 		&emsp;Use a space to insert an extra space before positive numbers (and a minus sign before negative numbers)  
:,		&emsp;Use a comma as a thousand separator_  
:_		&emsp;Use a underscore as a thousand separator  
:b		&emsp;Binary format  
:c		&emsp;Converts the value into the corresponding unicode character  
:d		&emsp;Decimal format  
:e		&emsp;Scientific format, with a lower case e  
:E		&emsp;Scientific format, with an upper case E  
:f		&emsp;Fix point number format  
:F		&emsp;Fix point number format, in uppercase format (show inf and nan as INF and NAN)  
:g		&emsp;General format  
:G		&emsp;General format (using a upper case E for scientific notations)  
:o		&emsp;Octal format  
:x		&emsp;Hex format, lower case  
:X		&emsp;Hex format, upper case  
:n		&emsp;Number format  
:%		&emsp;Percentage format

In [121]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.
#Use "<" to left-align the value:
txt = "We have {:<8} chickens."
print(txt.format(49))

We have 49       chickens.

In [122]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.
#Use ">" to right-align the value:
txt = "We have {:>8} chickens."
print(txt.format(49))

We have       49 chickens.

In [123]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.
#Use "^" to center-align the value:
txt = "We have {:^8} chickens."
print(txt.format(49))

We have    49    chickens.

In [124]:
#To demonstrate, we insert the number 8 to specify the available space for the value.
#Use "=" to place the plus/minus sign at the left most position:
txt = "The temperature is {:=8} degrees celsius."
print(txt.format(-5))

The temperature is -      5 degrees celsius.

In [125]:
#Use "+" to always indicate if the number is positive or negative:
txt = "The temperature is between {:+} and {:+} degrees celsius."
print(txt.format(-3, 7))

The temperature is between -3 and +7 degrees celsius.

In [126]:
#Use "-" to always indicate if the number is negative (positive numbers are displayed without any sign):
txt = "The temperature is between {:-} and {:-} degrees celsius."
print(txt.format(-3, 7))

The temperature is between -3 and 7 degrees celsius.

In [127]:
#Use " " (a space) to insert a space before positive numbers and a minus sign before negative numbers:
txt = "The temperature is between {: } and {: } degrees celsius."
print(txt.format(-3, 7))

The temperature is between -3 and  7 degrees celsius.

In [128]:
#Use "," to add a comma as a thousand separator:
txt = "The universe is {:,} years old."
print(txt.format(13800000000))

The universe is 13,800,000,000 years old.

In [129]:
#Use "_" to add a underscore character as a thousand separator:
txt = "The universe is {:_} years old."
print(txt.format(13800000000))

The universe is 13_800_000_000 years old.

In [130]:
#Use "b" to convert the number into binary format:
txt = "The binary version of {0} is {0:b}"
print(txt.format(5))

The binary version of 5 is 101

In [131]:
#Use "d" to convert a number, in this case a binary number, into decimal number format:
txt = "We have {:d} chickens."
print(txt.format(0b101))

We have 5 chickens.

In [132]:
#Use "e" to convert a number into scientific number format (with a lower-case e):
txt = "We have {:e} chickens."
print(txt.format(5))

We have 5.000000e+00 chickens.

In [133]:
#Use "E" to convert a number into scientific number format (with an upper-case E):
txt = "We have {:E} chickens."
print(txt.format(5))

We have 5.000000E+00 chickens.

In [134]:
#Use "f" to convert a number into a fixed point number, default with 6 decimals, but use a period followed by a number to specify the number of decimals:
txt = "The price is {:.2f} dollars."
print(txt.format(45))
#without the ".2" inside the placeholder, this number will be displayed like this:
txt = "The price is {:f} dollars."
print(txt.format(45))

The price is 45.00 dollars.
The price is 45.000000 dollars.

In [135]:
#Use "F" to convert a number into a fixed point number, but display inf and nan as INF and NAN:
x = float('inf')
txt = "The price is {:F} dollars."
print(txt.format(x))
#same example, but with a lower case f:
txt = "The price is {:f} dollars."
print(txt.format(x))

The price is INF dollars.
The price is inf dollars.

In [136]:
#Use "o" to convert the number into octal format:
txt = "The octal version of {0} is {0:o}"
print(txt.format(10))

The octal version of 10 is 12

In [137]:
#Use "x" to convert the number into Hex format:
txt = "The Hexadecimal version of {0} is {0:x}"
print(txt.format(255))

The Hexadecimal version of 255 is ff

In [138]:
#Use "X" to convert the number into upper-case Hex format:
txt = "The Hexadecimal version of {0} is {0:X}"
print(txt.format(255))

The Hexadecimal version of 255 is FF

In [139]:
#Use "%" to convert the number into a percentage format:
txt = "You scored {:%}"
print(txt.format(0.25))
#Or, without any decimals:
txt = "You scored {:.0%}"
print(txt.format(0.25))

You scored 25.000000%
You scored 25%

**string.index(value, start, end)**  
_The index() method finds the first occurrence of the specified value.  
The index() method raises an exception if the value is not found.  
The index() method is almost the same as the find() method, the only difference is that the find() method returns -1 if the value is not found. (See example below)_  
value :	Required. The value to search for  
start :	Optional. Where to start the search. Default is 0  
end :	Optional. Where to end the search. Default is to the end of the string

In [140]:
#Where in the text is the first occurrence of the letter "e"?:
txt = "Hello, welcome to my world."
x = txt.index("e")
print(x)

1

In [141]:
#Where in the text is the first occurrence of the letter "e" when you only search between position 5 and 10?:
txt = "Hello, welcome to my world."
x = txt.index("e", 5, 10)
print(x)

8

In [766]:
#If the value is not found, the find() method returns -1, but the index() method will raise an exception:
txt = "Hello, welcome to my world."
print(txt.find("q"))

-1

In [768]:
print(txt.index("q"))

ValueError: substring not found

**string.isalnum()**  
_Mthod returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).  
Example of characters that are not alphanumeric: (space)!#%&? etc._

In [ ]:
#Check if all the characters in the text are alphanumeric:
txt = "Company12"
x = txt.isalnum()
print(x)

In [759]:
#Check if all the characters in the text is alphanumeric:
txt = "Company 12"
x = txt.isalnum()
print(x)

False

**string.isalpha()**  
_Method returns True if all the characters are alphabet letters (a-z).  
Example of characters that are not alphabet letters: (space)!#%&? etc._

In [762]:
#Check if all the characters in the text are letters:
txt = "CompanyX"
x = txt.isalpha()
print(x)

True

In [764]:
#Check if all the characters in the text is alphabetic:
txt = "Company10"
x = txt.isalpha()
print(x)

False

**Continued......**

# Python Booleans

Booleans represent one of two values: True or False.

**Boolean Values**  
In programming you often need to know if an expression is True or False.  
You can evaluate any expression in Python, and get one of two answers, True or False.  
When you compare two values, the expression is evaluated and Python returns the Boolean answer:  

**Example**

In [143]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

When you run a condition in an if statement, Python returns True or False:

**Example**  
Print a message based on whether the condition is True or False:

In [144]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

**Evaluate Values and Variables**  
The bool() function allows you to evaluate any value, and give you True or False in return,

**Example**  
Evaluate a string and a number:

In [145]:
print(bool("Hello"))
print(bool(15))

True
True

**Example**  
Evaluate two variables:

In [146]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

**Most Values are True**  
Almost any value is evaluated to True if it has some sort of content.  
Any string is True, except empty strings.  
Any number is True, except 0.  
Any list, tuple, set, and dictionary are True, except empty ones.

**Example** 
The following will return True:

In [147]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

**Some Values are False**  
In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

**Example**  
The following will return False:

In [148]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

One more value, or object in this case, evaluates to False, and that is if you have an object that is made from a class with a __len__ function that returns 0 or False:  
**Example**

In [149]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

**Functions can Return a Boolean**  
You can create functions that returns a Boolean Value:

**Example**  
Print the answer of a function:

In [151]:
def myFunction() :
  return True

print(myFunction())

True

You can execute code based on the Boolean answer of a function:  
**Example**  
Print "YES!" if the function returns True, otherwise print "NO!":

In [152]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

Python also has many built-in functions that return a boolean value, like the isinstance() function, which can be used to determine if an object is of a certain data type:  
**Example**  
Check if an object is an integer or not:

In [153]:
x = 200
print(isinstance(x, int))

True

# Python Operators

Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values:  
**Example**

In [155]:
print(10 + 5)

15

Python divides the operators in the following groups:
>•	Arithmetic operators  
•	Assignment operators  
•	Comparison operators  
•	Logical operators  
•	Identity operators  
•	Membership operators  
•	Bitwise operators

## Arithmetic Operators

Arithmetic operators are used with numeric values to perform common mathematical operations:

| Operator | Name           | Example  |
| -------- | -------------- | -------- |
| +        | Addition       | x + y    |
| \-       | Subtraction    | x - y    |
| \*       | Multiplication | x \* y   |
| /        | Division       | x / y    |
| %        | Modulus        | x % y    |
| \*\*     | Exponentiation | x \*\* y |
| //       | Floor division | x // y   |

In [161]:
x = 2
y = 5
print(x ** y) #same as 2*2*2*2*2

32

In [162]:
x = 15
y = 2
print(x // y)
#the floor division // rounds the result down to the nearest whole number

7

## Comparison Operators

Comparison operators are used to compare two values:  
| Operator | Name                     | Example |
| -------- | ------------------------ | ------- |
| \==      | Equal                    | x == y  |
| !=       | Not equal                | x != y  |
| \>       | Greater than             | x > y   |
| <        | Less than                | x < y   |
| \>=      | Greater than or equal to | x >= y  |
| <=       | Less than or equal to    | x <= y  |

In [169]:
x = 5
y = 3
print(x == y)
# returns False because 5 is not equal to 3

False

## Logical Operators

Logical operators are used to combine conditional statements:
| Operator | Description                                             | Example               |
| -------- | ------------------------------------------------------- | --------------------- |
| and      | Returns True if both statements are true                | x < 5 and  x < 10     |
| or       | Returns True if one of the statements is true           | x < 5 or x < 4        |
| not      | Reverse the result, returns False if the result is true | not(x < 5 and x < 10) |

In [170]:
x = 5
print(x > 3 and x < 10)
# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [171]:
x = 5
print(x > 3 or x < 4)
# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [172]:
x = 5
print(not(x > 3 and x < 10))
# returns False because not is used to reverse the result

False

## Identity Operators

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:  
| Operator | Description                                            | Example    |
| -------- | ------------------------------------------------------ | ---------- |
| is       | Returns True if both variables are the same object     | x is y     |
| is not   | Returns True if both variables are not the same object | x is not y |

In [174]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is z)
# returns True because z is the same object as x
print(x is y)
# returns False because x is not the same object as y, even if they have the same content
print(x == y)
# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y
print(x is not z)
# returns False because z is the same object as x
print(x is not y)
# returns True because x is not the same object as y, even if they have the same content
print(x != y)
# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

True
False
True
False
True
False

## Membership Operators

Membership operators are used to test if a sequence is presented in an object:  
| Operator | Description                                                                      | Example    |
| -------- | -------------------------------------------------------------------------------- | ---------- |
| in       | Returns True if a sequence with the specified value is present in the object     | x in y     |
| not in   | Returns True if a sequence with the specified value is not present in the object | x not in y |

In [175]:
x = ["apple", "banana"]
print("banana" in x)
# returns True because a sequence with the value "banana" is in the list
print("pineapple" not in x)
# returns True because a sequence with the value "pineapple" is not in the list

True
True

## Bitwise Operators

Bitwise operators are used to compare (binary) numbers:  
| Operator | Name                 | Description                                                                                             | Example |
| -------- | -------------------- | ------------------------------------------------------------------------------------------------------- | ------- |
| &        | AND                  | Sets each bit to 1 if both bits are 1                                                                   | x & y   |
| \|       | OR                   | Sets each bit to 1 if one of two bits is 1                                                              | x \| y  |
| ^        | XOR                  | Sets each bit to 1 if only one of two bits is 1                                                         | x ^ y   |
| ~        | NOT                  | Inverts all the bits                                                                                    | ~x      |
| <<       | Zero fill left shift | Shift left by pushing zeros in from the right and let the leftmost bits fall off                        | x << 2  |
| \>>      | Signed right shift   | Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off | x >> 2  |

In [186]:
"""
The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

print(6 & 3)

2

In [187]:
"""
The | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""
print(6 | 3)

7

In [188]:
"""
The ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

print(6 ^ 3)

5

In [189]:
"""
The ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).

Inverted 3 becomes -4:
 3 = 0000000000000011
-4 = 1111111111111100

Decimal numbers and their binary values:
 4 = 0000000000000100
 3 = 0000000000000011
 2 = 0000000000000010
 1 = 0000000000000001
 0 = 0000000000000000
-1 = 1111111111111111
-2 = 1111111111111110
-3 = 1111111111111101
-4 = 1111111111111100
"""

print(~3)

-4

In [190]:
"""
The << operator inserts the specified number of 0's (in this case 2) from the right and let the same amount of leftmost bits fall off:

If you push 00 in from the left:
 3 = 0000000000000011
becomes
12 = 0000000000001100

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

print(3 << 2)

12

In [191]:
"""
The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.

If you move each bit 2 times to the right, 8 becomes 2:
 8 = 0000000000001000
becomes
 2 = 0000000000000010

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

print(8 >> 2)

2

## Assignment Operators

Assignment operators are used to assign values to variables:  
| Operator | Example       | Same As      |
| -------- | ------------- | ------------ |
| \=       | x = 5         | x = 5        |
| +=       | x += 3        | x = x + 3    |
| \-=      | x -= 3        | x = x - 3    |
| \*=      | x \*= 3       | x = x \* 3   |
| /=       | x /= 3        | x = x / 3    |
| %=       | x %= 3        | x = x % 3    |
| //=      | x //= 3       | x = x // 3   |
| \*\*=    | x \*\*= 3     | x = x \*\* 3 |
| &=       | x &= 3        | x = x & 3    |
| \|=      | x \|= 3       | x = x \| 3   |
| ^=       | x ^= 3        | x = x ^ 3    |
| \>>=     | x >>= 3       | x = x >> 3   |
| <<=      | x <<= 3       | x = x << 3   |
| :=       | print(x := 3) | x = 3        |
|          |               | print(x)     |

In [163]:
x = 5
x &= 3
print(x)

1

In [164]:
x = 5
x |= 3
print(x)

7

In [165]:
x = 5
x ^= 3
print(x)

6

In [166]:
x = 5
x >>= 3
print(x)

0

In [167]:
x = 5
x <<= 3
print(x)

40

In [168]:
print(x := 3)

3

## Operator Precedence

Operator precedence describes the order in which operations are performed.

**Example**  
Parentheses has the highest precedence, meaning that expressions inside parentheses must be evaluated first:

In [157]:
print((6 + 3) - (6 + 3))

0

Multiplication * has higher precedence than addition +, and therefor multiplications are evaluated before additions:

In [158]:
print(100 + 5 * 3)

115

The precedence order is described in the table below, starting with the highest precedence at the top:  
| Operator                                      | Description                                           |
| --------------------------------------------- | ----------------------------------------------------- |
| ()                                            | Parentheses                                           |
| \*\*                                          | Exponentiation                                        |
| +x  -x  ~x                                    | Unary plus, unary minus, and bitwise NOT              |
| \*  /  //  %                                  | Multiplication, division, floor division, and modulus |
| +  -                                          | Addition and subtraction                              |
| <<  >>                                        | Bitwise left and right shifts                         |
| &                                             | Bitwise AND                                           |
| ^                                             | Bitwise XOR                                           |
| \|                                            | Bitwise OR                                            |
| \==  !=  >  >=  <  <=  is  is not  in  not in | Comparisons, identity, and membership operators       |
| not                                           | Logical NOT                                           |
| and                                           | AND                                                   |
| or                                            | OR                                                    |

In [159]:
print(5 + 4 - 7 + 3)

5

In [193]:
"""
Multiplication has higher precedence than addition, and needs to be evaluated first.
The calculation above reads 100 + 15 = 115
"""
print(100 + 5 * 3)

115

In [194]:
"""
Bitwise NOT has higher precedence than addition, and needs to be evaluated first.
The calculation above reads 100 + -4 = 96
"""
print(100 + ~3)

96

# Python Lists

## Lists:

Lists are used to store multiple items in a single variable.  
Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.  
Lists are created using square brackets:

**Example**  
Create a List:

In [1]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

**List Items**  
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

**Ordered**  
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

>Note: There are some list methods that will change the order, but in general: the order of the items will not change.

**Changeable**  
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

**Allow Duplicates**  
Since lists are indexed, lists can have items with the same value:

Example
Lists allow duplicate values:

In [3]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

**List Length**  
To determine how many items a list has, use the len() function:

**Example**  
Print the number of items in the list:

In [5]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

**List Items - Data Types**  
List items can be of any data type:

**Example**  
String, int and boolean data types:

In [7]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

A list can contain different data types:

**Example**  
A list with strings, integers and boolean values:

In [8]:
list1 = ["abc", 34, True, 40, "male"]

**type()**  
From Python's perspective, lists are defined as objects with the data type 'list':

<class 'list'>
**Example**  
What is the data type of a list?

In [9]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

**The list() Constructor**  
It is also possible to use the list() constructor when creating a new list.

**Example**  
Using the list() constructor to make a List:

In [11]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

## Access List Items

List items are indexed and you can access them by referring to the index number:

**Example**  
Print the second item of the list:

In [12]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

>Note: The first item has index 0.

Negative Indexing
Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

**Example**  
Print the last item of the list:

In [13]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

**Range of Indexes**  
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

**Example**  
Return the third, fourth, and fifth item:

In [14]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

>Note: The search will start at index 2 (included) and end at index 5 (not included).

>Remember that the first item has index 0.

By leaving out the start value, the range will start at the first item:

**Example**  
This example returns the items from the beginning to, but NOT including, "kiwi":

In [16]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

By leaving out the end value, the range will go on to the end of the list:

**Example**  
This example returns the items from "cherry" to the end:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

**Range of Negative Indexes**  
Specify negative indexes if you want to start the search from the end of the list:

**Example**  
This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

**Check if Item Exists**  
To determine if a specified item is present in a list use the in keyword:

**Example**  
Check if "apple" is present in the list:

In [20]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

## Change List Items

To change the value of a specific item, refer to the index number:

**Example**  
Change the second item:

In [21]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

**Change a Range of Item Values**  
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

**Example**  
Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

In [22]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

**Example**  
Change the second value by replacing it with two new values:

In [23]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

>Note: The length of the list will change when the number of items inserted does not match the number of items replaced.

If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

**Example**  
Change the second and third value by replacing it with one value:

In [24]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

**Insert Items**  
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

**Example**  
Insert "watermelon" as the third item:

In [25]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

>Note: As a result of the example above, the list will now contain 4 items.

## Add List Items

To add an item to the end of the list, use the append() method:

**Example**  
Using the append() method to append an item:

In [27]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

**Insert Items**  
To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

**Example**  
Insert an item as the second position:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

>Note: As a result of the examples above, the lists will now contain 4 items.

**Extend List**  
To append elements from another list to the current list, use the extend() method.

**Example**  
Add the elements of tropical to thislist:

In [28]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

The elements will be added to the end of the list.

**Add Any Iterable**  
The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

**Example**
Add elements of a tuple to a list:

In [29]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

## Remove List Items

The remove() method removes the specified item.

**Example**  
Remove "banana":

In [30]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

If there are more than one item with the specified value, the remove() method removes the first occurrence:

**Example**  
Remove the first occurrence of "banana":

In [31]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

**Remove Specified Index**  
The pop() method removes the specified index.

**Example**  
Remove the second item:

In [32]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

If you do not specify the index, the pop() method removes the last item.

**Example**  
Remove the last item:

In [33]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The del keyword also removes the specified index:

**Example**  
Remove the first item:

In [34]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The del keyword can also delete the list completely.

**Example**  
Delete the entire list:

In [35]:
thislist = ["apple", "banana", "cherry"]
del thislist

**Clear the List**  
The clear() method empties the list.

The list still remains, but it has no content.

**Example**  
Clear the list content:

In [36]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [ ]:
## Loop Lists

In [ ]:
You can loop through the list items by using a for loop:

Example
Print all items in the list, one by one:

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

In [ ]:
Loop Through the Index Numbers
You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

Example
Print all items by referring to their index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

In [ ]:
The iterable created in the example above is [0, 1, 2].

Using a While Loop
You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

Example
Print all items, using a while loop to go through all the index numbers

In [ ]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

In [ ]:
Looping Using List Comprehension
List Comprehension offers the shortest syntax for looping through lists:

Example
A short hand for loop that will print all items in a list:

In [ ]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

In [ ]:
## List Comprehension

In [ ]:
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

Example

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

In [ ]:
With list comprehension you can do all that with only one line of code:

Example

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

In [ ]:
The Syntax
newlist = [expression for item in iterable if condition == True]
The return value is a new list, leaving the old list unchanged.

Condition
The condition is like a filter that only accepts the items that valuate to True.

Example
Only accept items that are not "apple":

In [ ]:
newlist = [x for x in fruits if x != "apple"]

In [ ]:
The condition if x != "apple"  will return True for all elements other than "apple", making the new list contain all fruits except "apple".

The condition is optional and can be omitted:

Example
With no if statement:

In [ ]:
newlist = [x for x in fruits]

In [ ]:
Iterable
The iterable can be any iterable object, like a list, tuple, set etc.

Example
You can use the range() function to create an iterable:

In [ ]:
newlist = [x for x in range(10)]

In [ ]:
Same example, but with a condition:

Example
Accept only numbers lower than 5:

In [ ]:
newlist = [x for x in range(10) if x < 5]

In [ ]:
Expression
The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

Example
Set the values in the new list to upper case:

In [ ]:
newlist = [x.upper() for x in fruits]

In [ ]:
You can set the outcome to whatever you like:

Example
Set all values in the new list to 'hello':

In [ ]:
newlist = ['hello' for x in fruits]

In [ ]:
The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome:

Example
Return "orange" instead of "banana":

In [ ]:
newlist = [x if x != "banana" else "orange" for x in fruits]

In [ ]:
The expression in the example above says:

"Return the item if it is not banana, if it is banana return orange".

In [ ]:
## Sort Lists

In [ ]:
Sort List Alphanumerically
List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

ExampleGet your own Python Server
Sort the list alphabetically:

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

In [ ]:
Example
Sort the list numerically:

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

In [ ]:
Sort Descending

In [ ]:
To sort descending, use the keyword argument reverse = True:

Example
Sort the list descending:

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

In [ ]:
Example
Sort the list descending:

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

In [ ]:
Customize Sort Function
You can also customize your own function by using the keyword argument key = function.

The function will return a number that will be used to sort the list (the lowest number first):

Example
Sort the list based on how close the number is to 50:

In [ ]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

In [ ]:
Case Insensitive Sort
By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

Example
Case sensitive sorting can give an unexpected result:

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

In [ ]:
Luckily we can use built-in functions as key functions when sorting a list.

So if you want a case-insensitive sort function, use str.lower as a key function:

Example
Perform a case-insensitive sort of the list:

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

In [ ]:
Reverse Order
What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements.

Example
Reverse the order of the list items:

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

In [ ]:
## Copy Lists

In [ ]:
You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

ExampleGet your own Python Server
Make a copy of a list with the copy() method:

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

In [ ]:
Another way to make a copy is to use the built-in method list().

Example
Make a copy of a list with the list() method:

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

In [ ]:
## Join Lists

In [ ]:
Join Two Lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

Example
Join two list:

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

In [ ]:
Another way to join two lists is by appending all the items from list2 into list1, one by one:

Example
Append list2 into list1:

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

In [ ]:
Or you can use the extend() method, where the purpose is to add elements from one list to another list:

Example
Use the extend() method to add list2 at the end of list1:

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

## List Methods

Python has a set of built-in methods that you can use on lists.
| Method    | Description                                                                  |
| --------- | ---------------------------------------------------------------------------- |
| append()  | Adds an element at the end of the list                                       |
| clear()   | Removes all the elements from the list                                       |
| copy()    | Returns a copy of the list                                                   |
| count()   | Returns the number of elements with the specified value                      |
| extend()  | Add the elements of a list (or any iterable), to the end of the current list |
| index()   | Returns the index of the first element with the specified value              |
| insert()  | Adds an element at the specified position                                    |
| pop()     | Removes the element at the specified position                                |
| remove()  | Removes the item with the specified value                                    |
| reverse() | Reverses the order of the list                                               |
| sort()    | Sorts the list                                                               |

**list.append(elmnt)**  
_Method appends an element to the end of the list._  
elmnt :	Required. An element of any type (string, number, object etc.)

In [39]:
#Add an element to the fruits list:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")

In [40]:
# Add a list to a list:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)

**Continued...**

# Python Tuples

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

**Example**  
Create a Tuple:

In [46]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

**Tuple Items** 
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

**Ordered** 
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

**Unchangeable** 
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

**Allow Duplicates**  
Since tuples are indexed, they can have items with the same value:

**Example**  
Tuples allow duplicate values:

In [47]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

**Tuple Length**  
To determine how many items a tuple has, use the len() function:

**Example**  
Print the number of items in the tuple:

In [48]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

**Create Tuple With One Item**  
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

**Example**  
One item tuple, remember the comma:

In [49]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

**Tuple Items - Data Types**  
Tuple items can be of any data type:

**Example**  
String, int and boolean data types:

In [50]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

A tuple can contain different data types:

**Example**  
A tuple with strings, integers and boolean values:

In [51]:
tuple1 = ("abc", 34, True, 40, "male")

**type()**  
From Python's perspective, tuples are defined as objects with the data type 'tuple':

<class 'tuple'>  
**Example**  
What is the data type of a tuple?

In [52]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

**The tuple() Constructor**  
It is also possible to use the tuple() constructor to make a tuple.

**Example**  
Using the tuple() method to make a tuple:

In [53]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

## Access Tuple Items

You can access tuple items by referring to the index number, inside square brackets:

**Example**  
Print the second item in the tuple:

In [54]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

>Note: The first item has index 0.

Negative Indexing
Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

**Example**  
Print the last item of the tuple:

In [55]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

**Range of Indexes**  
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

**Example**  
Return the third, fourth, and fifth item:

In [56]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

>Note: The search will start at index 2 (included) and end at index 5 (not included).

>Remember that the first item has index 0.

By leaving out the start value, the range will start at the first item:

**Example**  
This example returns the items from the beginning to, but NOT included, "kiwi":

In [57]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

By leaving out the end value, the range will go on to the end of the tuple:

**Example**  
This example returns the items from "cherry" and to the end:

In [58]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

**Range of Negative Indexes**  
Specify negative indexes if you want to start the search from the end of the tuple:

**Example**  
This example returns the items from index -4 (included) to index -1 (excluded)

In [59]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

**Check if Item Exists**  
To determine if a specified item is present in a tuple use the in keyword:

**Example**  
Check if "apple" is present in the tuple:

In [60]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

## Update Tuples

Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.

**Change Tuple Values**  
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.  
But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

**Example**  
Convert the tuple into a list to be able to change it:

In [61]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

**Add Items**  
Since tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple.

**1.** Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

**Example**  
Convert the tuple into a list, add "orange", and convert it back into a tuple:

In [62]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

**2.** Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

**Example**  
Create a new tuple with the value "orange", and add that tuple:

In [63]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

>Note: When creating a tuple with only one item, remember to include a comma after the item, otherwise it will not be identified as a tuple.

**Remove Items**  
>Note: You cannot remove items in a tuple.

Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

**Example**  
Convert the tuple into a list, remove "apple", and convert it back into a tuple:

In [64]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

Or you can delete the tuple completely:

**Example**  
The del keyword can delete the tuple completely:

In [65]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

## Unpack Tuples

When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

**Example**  
Packing a tuple:

In [66]:
fruits = ("apple", "banana", "cherry")

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

**Example**  
Unpacking a tuple:

In [67]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

Note: The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

**Using Asterisk***  
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

**Example**  
Assign the rest of the values as a list called "red":

In [68]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

**Example**  
Add a list of values the "tropic" variable:

In [69]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

## Loop Tuples

Loop Through a Tuple
You can loop through the tuple items by using a for loop.

**Example**  
Iterate through the items and print the values:

In [70]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

**Loop Through the Index Numbers**  
You can also loop through the tuple items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

**Example**  
Print all items by referring to their index number:

In [71]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

**Using a While Loop**  
You can loop through the tuple items by using a while loop.

Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

**Example**  
Print all items, using a while loop to go through all the index numbers:

In [72]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

## Join Tuples

**Join Two Tuples**  
To join two or more tuples you can use the + operator:

**Example**  
Join two tuples:

In [73]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

**Multiply Tuples**  
If you want to multiply the content of a tuple a given number of times, you can use the * operator:

**Example**
Multiply the fruits tuple by 2:

In [74]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

## Tuple Methods

Python has two built-in methods that you can use on tuples  
| Method  | Description                                                                             |
| ------- | --------------------------------------------------------------------------------------- |
| count() | Returns the number of times a specified value occurs in a tuple                         |
| index() | Searches the tuple for a specified value and returns the position of where it was found |

**tuple.count(value)**  
_Method returns the number of times a specified value appears in the tuple._  
value :	Required. The item to search for

In [42]:
#Return the number of times the value 5 appears in the tuple:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.count(5)
print(x)

2

**tuple.index(value)**  
_value	Required. The item to search for_  
The index() : method finds the first occurrence of the specified value.
The index() : method raises an exception if the value is not found.

In [44]:
#Search for the first occurrence of the value 8, and return its position:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.index(8)
print(x)

3

# Python Sets

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

> Note: Set items are unchangeable, but you can remove items and add new items.

Sets are written with curly brackets.

**Example**  
Create a Set:

In [77]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

>Note: Sets are unordered, so you cannot be sure in which order the items will appear.

**Set Items**  
Set items are unordered, unchangeable, and do not allow duplicate values.

**Unordered**  
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

**Unchangeable**  
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

>Once a set is created, you cannot change its items, but you can remove items and add new items.

**Duplicates Not Allowed**  
Sets cannot have two items with the same value.

**Example**  
Duplicate values will be ignored:

In [78]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'apple', 'cherry'}

>Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:

**Example**  
True and 1 is considered the same value:

In [79]:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{'banana', True, 2, 'cherry', 'apple'}

>Note: The values False and 0 are considered the same value in sets, and are treated as duplicates:

**Example**  
False and 0 is considered the same value:

In [80]:
thisset = {"apple", "banana", "cherry", False, True, 0}
print(thisset)

{'banana', False, True, 'cherry', 'apple'}

Get the Length of a Set
To determine how many items a set has, use the len() function.

**Example**  
Get the number of items in a set:

In [81]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

**Set Items - Data Types**  
Set items can be of any data type:

**Example**  
String, int and boolean data types:

In [82]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

A set can contain different data types:

**Example**  
A set with strings, integers and boolean values:

In [83]:
set1 = {"abc", 34, True, 40, "male"}

**type()**  
From Python's perspective, sets are defined as objects with the data type 'set':

<class 'set'>  
**Example**  
What is the data type of a set?

In [84]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

**The set() Constructor**  
It is also possible to use the set() constructor to make a set.

**Example**  
Using the set() constructor to make a set:

In [85]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}

## Access Set Items

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

**Example**  
Loop through the set, and print the values:

In [86]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

**Example**  
Check if "banana" is present in the set:

In [87]:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

**Example**  
Check if "banana" is NOT present in the set:

In [88]:
thisset = {"apple", "banana", "cherry"}
print("banana" not in thisset)

False

**Change Items**  
>Once a set is created, you cannot change its items, but you can add new items.

## Add Set Items

**Add Items**  
Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the add() method.

**Example**  
Add an item to a set, using the add() method:

In [89]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'banana', 'orange', 'apple', 'cherry'}

**Add Sets**  
To add items from another set into the current set, use the update() method.

**Example**  
Add elements from tropical into thisset:

In [90]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)
print(thisset)

{'banana', 'mango', 'cherry', 'papaya', 'apple', 'pineapple'}

**Add Any Iterable**  
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

**Example**  
Add elements of a list to at set:

In [91]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'orange', 'kiwi', 'cherry', 'apple'}

## Remove Set Items

**Remove Item**  
To remove an item in a set, use the remove(), or the discard() method.

**Example**    
Remove "banana" by using the remove() method:

In [92]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

>Note: If the item to remove does not exist, remove() will raise an error.

**Example**  
Remove "banana" by using the discard() method:

In [93]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

>Note: If the item to remove does not exist, discard() will NOT raise an error.

You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the pop() method is the removed item.

**Example**  
Remove a random item by using the pop() method:

In [94]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

banana
{'apple', 'cherry'}

>Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

**Example**  
The clear() method empties the set:

In [95]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

**Example**
The del keyword will delete the set completely:

In [96]:
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

## Loop Sets

**Loop Items**  
You can loop through the set items by using a for loop:

**Example**  
Loop through the set, and print the values:

In [97]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

## Join Sets

There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

**Union**  
The union() method returns a new set with all items from both sets.

**Example**  
Join set1 and set2 into a new set:

In [98]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

You can use the | operator instead of the union() method, and you will get the same result.

**Example**  
Use | to join two sets:

In [99]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

**Join Multiple Sets**  
All the joining methods and operators can be used to join multiple sets.

When using a method, just add more sets in the parentheses, separated by commas:

**Example**  
Join multiple sets with the union() method:

In [100]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'Elena', 'cherry', 'b', 'bananas', 'c', 'John', 'a', 'apple'}

When using the | operator, separate the sets with more | operators:

**Example**  
Use | to join two sets:

In [101]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'Elena', 'cherry', 'b', 'bananas', 'c', 'John', 'a', 'apple'}

**Join a Set and a Tuple**  
The union() method allows you to join a set with other data types, like lists or tuples.

The result will be a set.

**Example**  
Join a set with a tuple:

In [102]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'b', 'c', 'a'}

>Note: The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.

**Update**  
The update() method inserts all items from one set into another.

The update() changes the original set, and does not return a new set.

**Example**  
The update() method inserts the items in set2 into set1:

In [103]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'a', 'b'}

>Note: Both union() and update() will exclude any duplicate items.

**Intersection**  
Keep ONLY the duplicates

The intersection() method will return a new set, that only contains the items that are present in both sets.

**Example**  
Join set1 and set2, but keep only the duplicates:

In [104]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

You can use the & operator instead of the intersection() method, and you will get the same result.

**Example**  
Use & to join two sets:

In [105]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

>Note: The & operator only allows you to join sets with sets, and not with other data types like you can with the intersection() method.

The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

**Example**  
Keep the items that exist in both set1, and set2:

In [106]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

The values True and 1 are considered the same value. The same goes for False and 0.

**Example**  
Join sets that contains the values True, False, 1, and 0, and see what is considered as duplicates:

In [107]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

**Difference**  
The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

**Example**  
Keep all items from set1 that are not in set2:

In [108]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

You can use the - operator instead of the difference() method, and you will get the same result.

**Example**  
Use - to join two sets:

In [109]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

>Note: The - operator only allows you to join sets with sets, and not with other data types like you can with the difference() method.

The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

**Example**  
Use the difference_update() method to keep the items that are not present in both sets:

In [110]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

**Symmetric Differences**  
The symmetric_difference() method will keep only the elements that are NOT present in both sets.

**Example**  
Keep the items that are not present in both sets:

In [111]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'google', 'banana', 'microsoft', 'cherry'}

You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.

**Example**  
Use ^ to join two sets:

In [112]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'google', 'banana', 'microsoft', 'cherry'}

>Note: The ^ operator only allows you to join sets with sets, and not with other data types like you can with the symmetric_difference() method.

The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

**Example**  
Use the symmetric_difference_update() method to keep the items that are not present in both sets:

In [113]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'banana', 'google', 'microsoft', 'cherry'}

## Set Methods

Python has a set of built-in methods that you can use on sets.  
| Method                        | Shortcut | Description                                                                    |
| ----------------------------- | -------- | ------------------------------------------------------------------------------ |
| add()                         |          | Adds an element to the set                                                     |
| clear()                       |          | Removes all the elements from the set                                          |
| copy()                        |          | Returns a copy of the set                                                      |
| difference()                  | \-       | Returns a set containing the difference between two or more sets               |
| difference_update()           | \-=      | Removes the items in this set that are also included in another, specified set |
| discard()                     |          | Remove the specified item                                                      |
| intersection()                | &        | Returns a set, that is the intersection of two other sets                      |
| intersection_update()         | &=       | Removes the items in this set that are not present in other, specified set(s)  |
| isdisjoint()                  |          | Returns whether two sets have a intersection or not                            |
| issubset()                    | <=       | Returns whether another set contains this set or not                           |
|                               | <        | Returns whether all items in this set is present in other, specified set(s)    |
| issuperset()                  | \>=      | Returns whether this set contains another set or not                           |
|                               | \>       | Returns whether all items in other, specified set(s) is present in this set    |
| pop()                         |          | Removes an element from the set                                                |
| remove()                      |          | Removes the specified element                                                  |
| symmetric_difference()        | ^        | Returns a set with the symmetric differences of two sets                       |
| symmetric_difference_update() | ^=       | Inserts the symmetric differences from this set and another                    |
| union()                       | \|       | Return a set containing the union of sets                                      |
| update()                      | \|=      | Update the set with the union of this set and others                           |

**set.add(elmnt)** 
_The add() method adds an element to the set.  
If the element already exists, the add() method does not add the element._  
elmnt :	Required. The element to add to the set

In [114]:
#Try to add an element that already exists:
fruits = {"apple", "banana", "cherry"}
fruits.add("apple")
print(fruits)

{'banana', 'apple', 'cherry'}

**Continued...**

# Python Dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

Dictionaries are written with curly brackets, and have keys and values:

**Example**  
Create and print a dictionary:

In [118]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

**Dictionary Items**  
Dictionary items are ordered, changeable, and do not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

**Example**  
Print the "brand" value of the dictionary:

In [119]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

**Ordered or Unordered?**  
>As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

Unordered means that the items do not have a defined order, you cannot refer to an item by using an index.

**Changeable**  
Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

**Duplicates Not Allowed**  
Dictionaries cannot have two items with the same key:

**Example**  
Duplicate values will overwrite existing values:

In [120]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

**Dictionary Length**  
To determine how many items a dictionary has, use the len() function:

**Example**  
Print the number of items in the dictionary:

In [121]:
print(len(thisdict))

3

**Dictionary Items - Data Types**  
The values in dictionary items can be of any data type:

**Example**  
String, int, boolean, and list data types:

In [122]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

**type()**  
From Python's perspective, dictionaries are defined as objects with the data type 'dict':

<class 'dict'>  
**Example**  
Print the data type of a dictionary:

In [123]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

**The dict() Constructor**  
It is also possible to use the dict() constructor to make a dictionary.

**Example**  
Using the dict() method to make a dictionary:

In [124]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

## Access Dictionary Items

ou can access the items of a dictionary by referring to its key name, inside square brackets:

**Example**  
Get the value of the "model" key:

In [125]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

There is also a method called get() that will give you the same result:

**Example**  
Get the value of the "model" key:

In [126]:
x = thisdict.get("model")

**Get Keys**  
The keys() method will return a list of all the keys in the dictionary.

**Example**  
Get a list of the keys:

In [127]:
x = thisdict.keys()

The list of the keys is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the keys list.

**Example**  
Add a new item to the original dictionary, and see that the keys list gets updated as well:

In [128]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

**Get Values**  
The values() method will return a list of all the values in the dictionary.

**Example**
Get a list of the values:

In [129]:
x = thisdict.values()

The list of the values is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the values list.

**Example**  
Make a change in the original dictionary, and see that the values list gets updated as well:

In [130]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

**Example**  
Add a new item to the original dictionary, and see that the values list gets updated as well:

In [131]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

**Get Items**  
The items() method will return each item in a dictionary, as tuples in a list.

**Example**  
Get a list of the key:value pairs

In [132]:
x = thisdict.items()

The returned list is a view of the items of the dictionary, meaning that any changes done to the dictionary will be reflected in the items list.

**Example**  
Make a change in the original dictionary, and see that the items list gets updated as well:

In [133]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

**Example**  
Add a new item to the original dictionary, and see that the items list gets updated as well:

In [134]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

**Check if Key Exists**  
To determine if a specified key is present in a dictionary use the in keyword:

**Example**  
Check if "model" is present in the dictionary:

In [135]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

## Change Dictionary Items

You can change the value of a specific item by referring to its key name:

**Example**  
Change the "year" to 2018:

In [136]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

**Update Dictionary**  
The update() method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

**Example**  
Update the "year" of the car by using the update() method:

In [137]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

## Add Dictionary Items

Adding an item to the dictionary is done by using a new index key and assigning a value to it:

**Example**

In [138]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

**Update Dictionary**  
The update() method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.

The argument must be a dictionary, or an iterable object with key:value pairs.

**Example**  
Add a color item to the dictionary by using the update() method:

In [139]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

## Remove Dictionary Items

There are several methods to remove items from a dictionary:

**Example**  
The pop() method removes the item with the specified key name:

In [140]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

**Example**  
The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

In [141]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

**Example**  
The del keyword removes the item with the specified key name:

In [142]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

**Example**  
The del keyword can also delete the dictionary completely:

In [143]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

**Example**  
The clear() method empties the dictionary:

In [144]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

## Loop Dictionaries

You can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

**Example**  
Print all key names in the dictionary, one by one:

In [145]:
for x in thisdict:
  print(x)

**Example**  
Print all values in the dictionary, one by one:

In [146]:
for x in thisdict:
  print(thisdict[x])

**Example**  
You can also use the values() method to return values of a dictionary:

In [147]:
for x in thisdict.values():
  print(x)

**Example**  
You can use the keys() method to return the keys of a dictionary:

In [148]:
for x in thisdict.keys():
  print(x)

**Example**  
Loop through both keys and values, by using the items() method:

In [149]:
for x, y in thisdict.items():
  print(x, y)

## Copy Dictionaries

You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

There are ways to make a copy, one way is to use the built-in Dictionary method copy().

**Example**  
Make a copy of a dictionary with the copy() method:

In [150]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Another way to make a copy is to use the built-in function dict().

**Example**  
Make a copy of a dictionary with the dict() function:

In [151]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

## Nested Dictionaries

A dictionary can contain dictionaries, this is called nested dictionaries.

**Example**  
Create a dictionary that contain three dictionaries:

In [152]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

Or, if you want to add three dictionaries into a new dictionary:

**Example**  
Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

In [153]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

Access Items in Nested Dictionaries
To access items from a nested dictionary, you use the name of the dictionaries, starting with the outer dictionary:

**Example**  
Print the name of child 2:

In [154]:
print(myfamily["child2"]["name"])

Tobias

Loop Through Nested Dictionaries
You can loop through a dictionary by using the items() method like this:

**Example**  
Loop through the keys and values of all nested dictionaries:

In [155]:
for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

## Dictionary Methods

Python has a set of built-in methods that you can use on dictionaries.  
| Method       | Description                                                                                                 |
| ------------ | ----------------------------------------------------------------------------------------------------------- |
| clear()      | Removes all the elements from the dictionary                                                                |
| copy()       | Returns a copy of the dictionary                                                                            |
| fromkeys()   | Returns a dictionary with the specified keys and value                                                      |
| get()        | Returns the value of the specified key                                                                      |
| items()      | Returns a list containing a tuple for each key value pair                                                   |
| keys()       | Returns a list containing the dictionary's keys                                                             |
| pop()        | Removes the element with the specified key                                                                  |
| popitem()    | Removes the last inserted key-value pair                                                                    |
| setdefault() | Returns the value of the specified key. If the key does not exist: insert the key, with the specified value |
| update()     | Updates the dictionary with the specified key-value pairs                                                   |
| values()     | Returns a list of all the values in the dictionary                                                          |

**dictionary.clear()**  
_Method removes all the elements from a dictionary._

In [117]:
#Remove all elements from the car list:

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.clear()
print(car)

{}

**Continued...**

# Python If ... Else

**Python Conditions and If statements**  
Python supports the usual logical conditions from mathematics:
>•	Equals: a == b  
•	Not Equals: a != b  
•	Less than: a < b  
•	Less than or equal to: a <= b  
•	Greater than: a > b  
•	Greater than or equal to: a >= b  
These conditions can be used in several ways, most commonly in "if statements" and loops.  
An "if statement" is written by using the if keyword.  

**Example**  
If statement:

In [156]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In this example we use two variables, a and b, which are used as part of the if statement to test whether b is greater than a. As a is 33, and b is 200, we know that 200 is greater than 33, and so we print to screen that "b is greater than a".

**Indentation**  
Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

**Example**  
If statement, without indentation (will raise an error):

In [3]:
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

IndentationError: expected an indented block after 'if' statement on line 3 (1443227691.py, line 4)

**Elif**  
The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition".

**Example**

In [8]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In this example a is equal to b, so the first condition is not true, but the elif condition is true, so we print to screen that "a and b are equal".

**Else**  
The else keyword catches anything which isn't caught by the preceding conditions.

**Example**

In [11]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In this example a is greater than b, so the first condition is not true, also the elif condition is not true, so we go to the else condition and print to screen that "a is greater than b".

You can also have an else without the elif:

**Example**

In [14]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

**Short Hand If**  
If you have only one statement to execute, you can put it on the same line as the if statement.

**Example**  
One line if statement:

In [17]:
if a > b: print("a is greater than b")

a is greater than b

**Short Hand If ... Else**  
If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

**Example**  
One line if else statement:

In [20]:
a = 2
b = 330
print("A") if a > b else print("B")

B

>This technique is known as Ternary Operators, or Conditional Expressions.

You can also have multiple else statements on the same line:

**Example**  
One line if else statement, with 3 conditions:

In [23]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

**And**  
The and keyword is a logical operator, and is used to combine conditional statements:

**Example**  
Test if a is greater than b, AND if c is greater than a:

In [26]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

**Or**  
The or keyword is a logical operator, and is used to combine conditional statements:

**Example**  
Test if a is greater than b, OR if a is greater than c:

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

**Not**  
The not keyword is a logical operator, and is used to reverse the result of the conditional statement:

**Example**  
Test if a is NOT greater than b:

In [30]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

**Nested If**  
You can have if statements inside if statements, this is called nested if statements.

**Example**

In [33]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

**The pass Statement**  
if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

**Example**

In [36]:
a = 33
b = 200

if b > a:
  pass

# Python While Loops

With the while loop we can execute a set of statements as long as a condition is true.

**Example**  
Print i as long as i is less than 6:

In [40]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

>Note: remember to increment i, or else the loop will continue forever.

The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.

**The break Statement**  
With the break statement we can stop the loop even if the while condition is true:

**Example**  
Exit the loop when i is 3:

In [43]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

**The continue Statement**  
With the continue statement we can stop the current iteration, and continue with the next:

**Example**  
Continue to the next iteration if i is 3:

In [46]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

**The else Statement**  
With the else statement we can run a block of code once when the condition no longer is true:

**Example**  
Print a message once the condition is false:

In [49]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# Python For Loops

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

**Example**  
Print each fruit in a fruit list:

In [53]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

The for loop does not require an indexing variable to set beforehand.

**Looping Through a String**  
Even strings are iterable objects, they contain a sequence of characters:

**Example**  
Loop through the letters in the word "banana":

In [56]:
for x in "banana":
  print(x)

b
a
n
a
n
a

**The break Statement**  
With the break statement we can stop the loop before it has looped through all the items:

**Example**  
Exit the loop when x is "banana":

In [59]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

**Example**  
Exit the loop when x is "banana", but this time the break comes before the print:

In [62]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

**The continue Statement**  
With the continue statement we can stop the current iteration of the loop, and continue with the next:

**Example**  
Do not print banana:

In [65]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

**The range() Function**  
To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

**Example**  
Using the range() function:

In [68]:
for x in range(6):
  print(x)

0
1
2
3
4
5

>Note that range(6) is not the values of 0 to 6, but the values 0 to 5.

The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):

**Example**  
Using the start parameter:

In [71]:
for x in range(2, 6):
  print(x)

2
3
4
5

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):

**Example**  
Increment the sequence with 3 (default is 1):

In [74]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

**Else in For Loop**
The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

**Example**  
Print all numbers from 0 to 5, and print a message when the loop has ended:

In [77]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

> Note: The else block will NOT be executed if the loop is stopped by a break statement.

**Example**  
Break the loop when x is 3, and see what happens with the else block:

In [80]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

**Nested Loops**  
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

**Example**  
Print each adjective for every fruit:

In [83]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

**The pass Statement**  
for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [86]:
for x in [0, 1, 2]:
  pass

# Python Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

**Creating a Function**  
In Python a function is defined using the def keyword:

**Example**

In [90]:
def my_function():
  print("Hello from a function")

**Calling a Function**  
To call a function, use the function name followed by parenthesis:

**Example**

In [93]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

**Arguments**  
Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

**Example**

In [96]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

>Arguments are often shortened to args in Python documentations.

**Parameters or Arguments?**  
The terms parameter and argument can be used for the same thing: information that are passed into a function.

>From a function's perspective:  
A parameter is the variable listed inside the parentheses in the function definition.  
An argument is the value that is sent to the function when it is called.

**Number of Arguments**  
By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

**Example**  
This function expects 2 arguments, and gets 2 arguments:

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

If you try to call the function with 1 or 3 arguments, you will get an error:
**Example**  
This function expects 2 arguments, but gets only 1:

In [100]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil")

TypeError: my_function() missing 1 required positional argument: 'lname'

**Arbitrary Arguments, *args***  
If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

**Example**  
If the number of arguments is unknown, add a * before the parameter name:

In [106]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

>Arbitrary Arguments are often shortened to *args in Python documentations.

**Keyword Arguments**  
You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

**Example**

In [109]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

>The phrase Keyword Arguments are often shortened to kwargs in Python documentations.

Arbitrary Keyword Arguments, **kwargs
If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly:

**Example**  
If the number of keyword arguments is unknown, add a double ** before the parameter name:

In [112]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

>Arbitrary Kword Arguments are often shortened to **kwargs in Python documentations.

Default Parameter Value
The following example shows how to use a default parameter value.

If we call the function without argument, it uses the default value:

**Example**

In [115]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

Passing a List as an Argument
You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function:

**Example**

In [118]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

**Return Values**  
To let a function return a value, use the return statement:

**Example**

In [121]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

**The pass Statement**  
function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.

**Example**

In [ ]:
def myfunction():
  pass

**Positional-Only Arguments**  
You can specify that a function can have ONLY positional arguments, or ONLY keyword arguments.

To specify that a function can have only positional arguments, add , / after the arguments:

**Example**

In [126]:
def my_function(x, /):
  print(x)

my_function(3)

3

Without the , / you are actually allowed to use keyword arguments even if the function expects positional arguments:

**Example**

In [129]:
def my_function(x):
  print(x)

my_function(x = 3)

3

But when adding the , / you will get an error if you try to send a keyword argument:

**Example**

In [ ]:
def my_function(x, /):
  print(x)

my_function(x = 3)

**Keyword-Only Arguments**
To specify that a function can have only keyword arguments, add *, before the arguments:

**Example**

In [133]:
def my_function(*, x):
  print(x)

my_function(x = 3)

3

Without the *, you are allowed to use positionale arguments even if the function expects keyword arguments:

**Example**

In [ ]:
def my_function(x):
  print(x)

my_function(3)

But when adding the *, / you will get an error if you try to send a positional argument:

**Example**

In [137]:
def my_function(*, x):
  print(x)

my_function(3)

TypeError: my_function() takes 0 positional arguments but 1 was given

**Combine Positional-Only and Keyword-Only**  
You can combine the two argument types in the same function.

Any argument before the / , are positional-only, and any argument after the *, are keyword-only.

**Example**

In [140]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

**Recursion**  
Python also accepts function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

The developer should be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.

In this example, tri_recursion() is a function that we have defined to call itself ("recurse"). We use the k variable as the data, which decrements (-1) every time we recurse. The recursion ends when the condition is not greater than 0 (i.e. when it is 0).

To a new developer it can take some time to work out how exactly this works, best way to find out is by testing and modifying it.

**Example**  
Recursion Example

In [143]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

# Python Lambda

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

**Syntax**  
lambda arguments : expression
The expression is executed and the result is returned:

**Example**  
Add 10 to argument a, and return the result:

In [148]:
x = lambda a : a + 10
print(x(5))

15

Lambda functions can take any number of arguments:

**Example**  
Multiply argument a with argument b and return the result:

In [151]:
x = lambda a, b : a * b
print(x(5, 6))

30

**Example**  
Summarize argument a, b, and c and return the result:

In [154]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

**Why Use Lambda Functions?**  
The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [159]:
def myfunc(n):
  return lambda a : a * n

Use that function definition to make a function that always doubles the number you send in:

**Example**

In [162]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

Or, use the same function definition to make a function that always triples the number you send in:

**Example**

In [165]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

Or, use the same function definition to make both functions, in the same program:

**Example**

In [168]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

>Use lambda functions when an anonymous function is required for a short period of time.

# Python Arrays

>Note: Python does not have built-in support for Arrays, but Python Lists can be used instead.

Note: This page shows you how to use LISTS as ARRAYS, however, to work with arrays in Python you will have to import a library, like the NumPy library.

Arrays are used to store multiple values in one single variable:

**Example**  
Create an array containing car names:

In [174]:
cars = ["Ford", "Volvo", "BMW"]

**What is an Array?**  
An array is a special variable, which can hold more than one value at a time.

If you have a list of items (a list of car names, for example), storing the cars in single variables could look like this:

car1 = "Ford"
car2 = "Volvo"
car3 = "BMW"
However, what if you want to loop through the cars and find a specific one? And what if you had not 3 cars, but 300?

The solution is an array!

An array can hold many values under a single name, and you can access the values by referring to an index number.

Access the Elements of an Array
You refer to an array element by referring to the index number.

**Example**  
Get the value of the first array item:

In [177]:
x = cars[0]

**Example**  
Modify the value of the first array item:

In [180]:
cars[0] = "Toyota"

The Length of an Array
Use the len() method to return the length of an array (the number of elements in an array).

**Example**  
Return the number of elements in the cars array:

In [183]:
x = len(cars)

Note: The length of an array is always one more than the highest array index.

**Looping Array Elements**  
You can use the for in loop to loop through all the elements of an array.

**Example**  
Print each item in the cars array:

In [186]:
for x in cars:
  print(x)

Toyota
Volvo
BMW

**Adding Array Elements**  
You can use the append() method to add an element to an array.

**Example**  
Add one more element to the cars array:

In [189]:
cars.append("Honda")

**Removing Array Elements**  
You can use the pop() method to remove an element from the array.

**Example**  
Delete the second element of the cars array:

In [192]:
cars.pop(1)

'Volvo'

You can also use the remove() method to remove an element from the array.

**Example**  
Delete the element that has the value "Volvo":

In [195]:
cars.remove("Volvo")

ValueError: list.remove(x): x not in list

>Note: The list's remove() method only removes the first occurrence of the specified value.

## Array Methods

Python has a set of built-in methods that you can use on lists/arrays.

->Note: Python does not have built-in support for Arrays, but Python Lists can be used instead.

# Python Classes and Objects

Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

**Create a Class**  
To create a class, use the keyword class:

**Example**  
Create a class named MyClass, with a property named x:

In [203]:
class MyClass:
  x = 5

**Create Object**  
Now we can use the class named MyClass to create objects:

**Example**  
Create an object named p1, and print the value of x:

In [206]:
p1 = MyClass()
print(p1.x)

5

**The __init__() Function**  
The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

To understand the meaning of classes we have to understand the built-in __init__() function.

All classes have a function called __init__(), which is always executed when the class is being initiated.

Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

**Example**  
Create a class named Person, use the __init__() function to assign values for name and age:

In [209]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

>Note: The __init__() function is called automatically every time the class is being used to create a new object.

**The __str__() Function**  
The __str__() function controls what should be returned when the class object is represented as a string.

If the __str__() function is not set, the string representation of the object is returned:

**Example**  
The string representation of an object WITHOUT the __str__() function:

In [212]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

<__main__.Person object at 0x78154a7b7620>

**Example**  
The string representation of an object WITH the __str__() function:

In [215]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

**Object Methods**  
Objects can also contain methods. Methods in objects are functions that belong to the object.

Let us create a method in the Person class:

**Example**  
Insert a function that prints a greeting, and execute it on the p1 object:

In [218]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

Note: The self parameter is a reference to the current instance of the class, and is used to access variables that belong to the class.

**The self Parameter**  
The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:

**Example**  
Use the words mysillyobject and abc instead of self:

In [222]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

**Modify Object Properties**  
You can modify properties on objects like this:

**Example**  
Set the age of p1 to 40:

In [225]:
p1.age = 40

**Delete Object Properties**
You can delete properties on objects by using the del keyword:

**Example**  
Delete the age property from the p1 object:

In [228]:
del p1.age

**Delete Objects**  
You can delete objects by using the del keyword:

**Example**  
Delete the p1 object:

In [231]:
del p1

The pass Statement
class definitions cannot be empty, but if you for some reason have a class definition with no content, put in the pass statement to avoid getting an error.

**Example**

In [234]:
class Person:
  pass

# Python Inheritance

Inheritance allows us to define a class that inherits all the methods and properties from another class.

Parent class is the class being inherited from, also called base class.

Child class is the class that inherits from another class, also called derived class.

**Create a Parent Class**  
Any class can be a parent class, so the syntax is the same as creating any other class:

**Example**  
Create a class named Person, with firstname and lastname properties, and a printname method:

In [238]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

**Create a Child Class**  
To create a class that inherits the functionality from another class, send the parent class as a parameter when creating the child class:

**Example**  
Create a class named Student, which will inherit the properties and methods from the Person class:

In [241]:
class Student(Person):
  pass

>Note: Use the pass keyword when you do not want to add any other properties or methods to the class.

Now the Student class has the same properties and methods as the Person class.

**Example**  
Use the Student class to create an object, and then execute the printname method:

In [244]:
x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

**Add the __init__() Function**  
So far we have created a child class that inherits the properties and methods from its parent.

We want to add the __init__() function to the child class (instead of the pass keyword).

>Note: The __init__() function is called automatically every time the class is being used to create a new object.

**Example**  
Add the __init__() function to the Student class:

In [247]:
class Student(Person):
  def __init__(self, fname, lname):
    #add properties etc.

SyntaxError: incomplete input (322465492.py, line 3)

When you add the __init__() function, the child class will no longer inherit the parent's __init__() function.

> Note: The child's __init__() function overrides the inheritance of the parent's __init__() function.

To keep the inheritance of the parent's __init__() function, add a call to the parent's __init__() function:

**Example**

In [250]:
class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

Now we have successfully added the __init__() function, and kept the inheritance of the parent class, and we are ready to add functionality in the __init__() function.

Use the super() Function
Python also has a super() function that will make the child class inherit all the methods and properties from its parent:

**Example**

In [253]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

By using the super() function, you do not have to use the name of the parent element, it will automatically inherit the methods and properties from its parent.

**Add Properties**  
**Example**  
Add a property called graduationyear to the Student class:

In [256]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2019

In the example below, the year 2019 should be a variable, and passed into the Student class when creating student objects. To do so, add another parameter in the __init__() function:

**Example**  
Add a year parameter, and pass the correct year when creating objects:

In [259]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2019)

**Add Methods**  
**Example**  
Add a method called welcome to the Student class:

In [262]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

If you add a method in the child class with the same name as a function in the parent class, the inheritance of the parent method will be overridden.

# Python Iterators

An iterator is an object that contains a countable number of values.

An iterator is an object that can be iterated upon, meaning that you can traverse through all the values.

Technically, in Python, an iterator is an object which implements the iterator protocol, which consist of the methods __iter__() and __next__().

**Iterator vs Iterable**  
Lists, tuples, dictionaries, and sets are all iterable objects. They are iterable containers which you can get an iterator from.

All these objects have a iter() method which is used to get an iterator:

**Example**  
Return an iterator from a tuple, and print each value:

In [267]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

Even strings are iterable objects, and can return an iterator:

**Example**  
Strings are also iterable objects, containing a sequence of characters:

In [270]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

**Looping Through an Iterator**  
We can also use a for loop to iterate through an iterable object:

**Example**  
Iterate the values of a tuple:

In [273]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

**Example**  
Iterate the characters of a string:

In [276]:
mystr = "banana"

for x in mystr:
  print(x)

b
a
n
a
n
a

The for loop actually creates an iterator object and executes the next() method for each loop.

**Create an Iterator**  
To create an object/class as an iterator you have to implement the methods __iter__() and __next__() to your object.

As you have learned in the Python Classes/Objects chapter, all classes have a function called __init__(), which allows you to do some initializing when the object is being created.

The __iter__() method acts similar, you can do operations (initializing etc.), but must always return the iterator object itself.

The __next__() method also allows you to do operations, and must return the next item in the sequence.

**Example**  
Create an iterator that returns numbers, starting with 1, and each sequence will increase by one (returning 1,2,3,4,5 etc.):

In [279]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

**StopIteration**  
The example above would continue forever if you had enough next() statements, or if it was used in a for loop.

To prevent the iteration from going on forever, we can use the StopIteration statement.

In the __next__() method, we can add a terminating condition to raise an error if the iteration is done a specified number of times:

**Example**  
Stop after 20 iterations:

In [282]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# Python Polymorphism

The word "polymorphism" means "many forms", and in programming it refers to methods/functions/operators with the same name that can be executed on many objects or classes.

**Function Polymorphism**  
An example of a Python function that can be used on different objects is the len() function.

**String**  
For strings len() returns the number of characters:

**Example**

In [286]:
x = "Hello World!"

print(len(x))

12

**Tuple**  
For tuples len() returns the number of items in the tuple:

**Example**

In [289]:
mytuple = ("apple", "banana", "cherry")

print(len(mytuple))

3

**Dictionary**  
For dictionaries len() returns the number of key/value pairs in the dictionary:

**Example**

In [292]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(len(thisdict))

3

**Class Polymorphism**  
Polymorphism is often used in Class methods, where we can have multiple classes with the same method name.

For example, say we have three classes: Car, Boat, and Plane, and they all have a method called move():

**Example**  
Different classes with the same method:

In [295]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

Look at the for loop at the end. Because of polymorphism we can execute the same method for all three classes.

**Inheritance Class Polymorphism**  
What about classes with child classes with the same name? Can we use polymorphism there?

Yes. If we use the example above and make a parent class called Vehicle, and make Car, Boat, Plane child classes of Vehicle, the child classes inherits the Vehicle methods, but can override them:

**Example**  
Create a class called Vehicle and make Car, Boat, Plane child classes of Vehicle:

In [298]:
class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang") #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747") #Create a Plane object

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

Ford
Mustang
Move!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

Child classes inherits the properties and methods from the parent class.

In the example above you can see that the Car class is empty, but it inherits brand, model, and move() from Vehicle.

The Boat and Plane classes also inherit brand, model, and move() from Vehicle, but they both override the move() method.

Because of polymorphism we can execute the same method for all classes.

# Python Scope

A variable is only available from inside the region it is created. This is called scope.

**Local Scope**  
A variable created inside a function belongs to the local scope of that function, and can only be used inside that function.

**Example**  
A variable created inside a function is available inside that function:

In [303]:
def myfunc():
  x = 300
  print(x)

myfunc()

300

**Function Inside Function**  
As explained in the example above, the variable x is not available outside the function, but it is available for any function inside the function:

**Example**  
The local variable can be accessed from a function within the function:

In [306]:
def myfunc():
  x = 300
  def myinnerfunc():
    print(x)
  myinnerfunc()

myfunc()

300

**Global Scope**  
A variable created in the main body of the Python code is a global variable and belongs to the global scope.

Global variables are available from within any scope, global and local.

Example
A variable created outside of a function is global and can be used by anyone:

In [309]:
x = 300

def myfunc():
  print(x)

myfunc()

print(x)

300
300

**Naming Variables**  
If you operate with the same variable name inside and outside of a function, Python will treat them as two separate variables, one available in the global scope (outside the function) and one available in the local scope (inside the function):

**Example**  
The function will print the local x, and then the code will print the global x:

In [312]:
x = 300

def myfunc():
  x = 200
  print(x)

myfunc()

print(x)

200
300

**Global Keyword**  
If you need to create a global variable, but are stuck in the local scope, you can use the global keyword.

The global keyword makes the variable global.

**Example**  
If you use the global keyword, the variable belongs to the global scope:

In [315]:
def myfunc():
  global x
  x = 300

myfunc()

print(x)

300

Also, use the global keyword if you want to make a change to a global variable inside a function.

**Example**  
To change the value of a global variable inside a function, refer to the variable by using the global keyword:

In [318]:
x = 300

def myfunc():
  global x
  x = 200

myfunc()

print(x)

200

**Nonlocal Keyword**  
The nonlocal keyword is used to work with variables inside nested functions.

The nonlocal keyword makes the variable belong to the outer function.

**Example**  
If you use the nonlocal keyword, the variable will belong to the outer function:

In [321]:
def myfunc1():
  x = "Jane"
  def myfunc2():
    nonlocal x
    x = "hello"
  myfunc2()
  return x

print(myfunc1())

hello

# Python Modules

**What is a Module?**  
Consider a module to be the same as a code library.

A file containing a set of functions you want to include in your application.

**Create a Module**  
To create a module just save the code you want in a file with the file extension .py:

**Example**  
Save this code in a file named mymodule.py

In [325]:
def greeting(name):
  print("Hello, " + name)

**Use a Module**  
Now we can use the module we just created, by using the import statement:

**Example**  
Import the module named mymodule, and call the greeting function:

In [328]:
import mymodule

mymodule.greeting("Jonathan")

ModuleNotFoundError: No module named 'mymodule'

>Note: When using a function from a module, use the syntax: module_name.function_name.

**Variables in Module**  
The module can contain functions, as already described, but also variables of all types (arrays, dictionaries, objects etc):

**Example**  
Save this code in the file mymodule.py

In [331]:
person1 = {
  "name": "John",
  "age": 36,
  "country": "Norway"
}

**Example**  
Import the module named mymodule, and access the person1 dictionary:

In [334]:
import mymodule

a = mymodule.person1["age"]
print(a)

ModuleNotFoundError: No module named 'mymodule'

**Naming a Module**  
You can name the module file whatever you like, but it must have the file extension .py

**Re-naming a Module**  
You can create an alias when you import a module, by using the as keyword:

**Example**  
Create an alias for mymodule called mx:

In [337]:
import mymodule as mx

a = mx.person1["age"]
print(a)

ModuleNotFoundError: No module named 'mymodule'

**Built-in Modules**  
There are several built-in modules in Python, which you can import whenever you like.

**Example**  
Import and use the platform module:

In [340]:
import platform

x = platform.system()
print(x)

Linux

**Using the dir() Function**  
There is a built-in function to list all the function names (or variable names) in a module. The dir() function:

**Example**  
List all the defined names belonging to the platform module:

In [343]:
import platform

x = dir(platform)
print(x)

['_Processor', '_WIN32_CLIENT_RELEASES', '_WIN32_SERVER_RELEASES', '__builtins__', '__cached__', '__copyright__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_comparable_version', '_default_architecture', '_follow_symlinks', '_get_machine_win32', '_java_getprop', '_mac_ver_xml', '_node', '_norm_version', '_os_release_cache', '_os_release_candidates', '_parse_os_release', '_platform', '_platform_cache', '_sys_version', '_sys_version_cache', '_syscmd_file', '_syscmd_ver', '_uname_cache', '_unknown_as_blank', '_ver_stages', '_win32_ver', '_wmi_query', 'architecture', 'collections', 'freedesktop_os_release', 'functools', 'itertools', 'java_ver', 'libc_ver', 'mac_ver', 'machine', 'node', 'os', 'platform', 'processor', 'python_branch', 'python_build', 'python_compiler', 'python_implementation', 'python_revision', 'python_version', 'python_version_tuple', 're', 'release', 'sys', 'system', 'system_alias', 'uname', 'uname_result', 'version', 'win32_edition', 'win32_is_iot', 'win32_ver']

>Note: The dir() function can be used on all modules, also the ones you create yourself.

**Import From Module**  
You can choose to import only parts from a module, by using the from keyword.

**Example**  
The module named mymodule has one function and one dictionary:

In [346]:
def greeting(name):
  print("Hello, " + name)

person1 = {
  "name": "John",
  "age": 36,
  "country": "Norway"
}

**Example**  
Import only the person1 dictionary from the module:

In [349]:
from mymodule import person1

print (person1["age"])

ModuleNotFoundError: No module named 'mymodule'

>Note: When importing using the from keyword, do not use the module name when referring to elements in the module. Example: person1["age"], not mymodule.person1["age"]

# Python Datetime

**Python Dates**  
A date in Python is not a data type of its own, but we can import a module named datetime to work with dates as date objects.

**Example**  
Import the datetime module and display the current date:

In [354]:
import datetime

x = datetime.datetime.now()
print(x)

2024-07-05 20:10:49.260924

**Date Output**  
When we execute the code from the example above the result will be:

2024-07-05 16:41:38.085034
The date contains year, month, day, hour, minute, second, and microsecond.

The datetime module has many methods to return information about the date object.

Here are a few examples, you will learn more about them later in this chapter:

**Example**  
Return the year and name of weekday:

In [357]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2024
Friday

**Creating Date Objects**  
To create a date, we can use the datetime() class (constructor) of the datetime module.

The datetime() class requires three parameters to create a date: year, month, day.

**Example**  
Create a date object:

In [360]:
import datetime

x = datetime.datetime(2020, 5, 17)

print(x)

2020-05-17 00:00:00

The datetime() class also takes parameters for time and timezone (hour, minute, second, microsecond, tzone), but they are optional, and has a default value of 0, (None for timezone).

**The strftime() Method**  
The datetime object has a method for formatting date objects into readable strings.

The method is called strftime(), and takes one parameter, format, to specify the format of the returned string:

**Example**  
Display the name of the month:

In [363]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

A reference of all the legal format codes:
| Directive | Description                                                 | Example                  |
| --------- | ----------------------------------------------------------- | ------------------------ |
| %a        | Weekday, short version                                      | Wed                      |
| %A        | Weekday, full version                                       | Wednesday                |
| %w        | Weekday as a number 0-6, 0 is Sunday                        | 3                        |
| %d        | Day of month 01-31                                          | 31                       |
| %b        | Month name, short version                                   | Dec                      |
| %B        | Month name, full version                                    | December                 |
| %m        | Month as a number 01-12                                     | 12                       |
| %y        | Year, short version, without century                        | 18                       |
| %Y        | Year, full version                                          | 2018                     |
| %H        | Hour 00-23                                                  | 17                       |
| %I        | Hour 00-12                                                  | 5                        |
| %p        | AM/PM                                                       | PM                       |
| %M        | Minute 00-59                                                | 41                       |
| %S        | Second 00-59                                                | 8                        |
| %f        | Microsecond 000000-999999                                   | 548513                   |
| %z        | UTC offset                                                  | 100                      |
| %Z        | Timezone                                                    | CST                      |
| %j        | Day number of year 001-366                                  | 365                      |
| %U        | Week number of year, Sunday as the first day of week, 00-53 | 52                       |
| %W        | Week number of year, Monday as the first day of week, 00-53 | 52                       |
| %c        | Local version of date and time                              | Mon Dec 31 17:41:00 2018 |
| %C        | Century                                                     | 20                       |
| %x        | Local version of date                                       | 12/31/18                 |
| %X        | Local version of time                                       | 17:41:00                 |
| %%        | A % character                                               | %                        |
| %G        | ISO 8601 year                                               | 2018                     |
| %u        | ISO 8601 weekday (1-7)                                      | 1                        |
| %V        | ISO 8601 weeknumber (01-53)                                 | 1                        |

In [366]:
import datetime
x = datetime.datetime.now()
print(x.strftime("%a"))

Fri

# Python Math

Python has a set of built-in math functions, including an extensive math module, that allows you to perform mathematical tasks on numbers.

**Built-in Math Functions**  
The min() and max() functions can be used to find the lowest or highest value in an iterable:

**Example**

In [370]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25

The abs() function returns the absolute (positive) value of the specified number:

**Example**

In [373]:
x = abs(-7.25)

print(x)

7.25

The pow(x, y) function returns the value of x to the power of y (xy).

**Example**  
Return the value of 4 to the power of 3 (same as 4 * 4 * 4):

In [376]:
x = pow(4, 3)

print(x)

64

**The Math Module**  
Python has also a built-in module called math, which extends the list of mathematical functions.

To use it, you must import the math module:

In [379]:
import math

When you have imported the math module, you can start using methods and constants of the module.

The math.sqrt() method for example, returns the square root of a number:

**Example**

In [382]:
import math

x = math.sqrt(64)

print(x)

8.0

The math.ceil() method rounds a number upwards to its nearest integer, and the math.floor() method rounds a number downwards to its nearest integer, and returns the result:

**Example**

In [385]:
import math

x = math.ceil(1.4)
y = math.floor(1.4)

print(x) # returns 2
print(y) # returns 1

2
1

The math.pi constant, returns the value of PI (3.14...):

**Example**

In [388]:
import math
x = math.pi
print(x)

3.141592653589793

## Python math Module

Python has a built-in module that you can use for mathematical tasks.

The math module has a set of methods and constants.  

**Math Methods**

| Method           | Description                                                                                                  |
| ---------------- | ------------------------------------------------------------------------------------------------------------ |
| math.acos()      | Returns the arc cosine of a number                                                                           |
| math.acosh()     | Returns the inverse hyperbolic cosine of a number                                                            |
| math.asin()      | Returns the arc sine of a number                                                                             |
| math.asinh()     | Returns the inverse hyperbolic sine of a number                                                              |
| math.atan()      | Returns the arc tangent of a number in radians                                                               |
| math.atan2()     | Returns the arc tangent of y/x in radians                                                                    |
| math.atanh()     | Returns the inverse hyperbolic tangent of a number                                                           |
| math.ceil()      | Rounds a number up to the nearest integer                                                                    |
| math.comb()      | Returns the number of ways to choose k items from n items without repetition and order                       |
| math.copysign()  | Returns a float consisting of the value of the first parameter and the sign of the second parameter          |
| math.cos()       | Returns the cosine of a number                                                                               |
| math.cosh()      | Returns the hyperbolic cosine of a number                                                                    |
| math.degrees()   | Converts an angle from radians to degrees                                                                    |
| math.dist()      | Returns the Euclidean distance between two points (p and q), where p and q are the coordinates of that point |
| math.erf()       | Returns the error function of a number                                                                       |
| math.erfc()      | Returns the complementary error function of a number                                                         |
| math.exp()       | Returns E raised to the power of x                                                                           |
| math.expm1()     | Returns Ex - 1                                                                                               |
| math.fabs()      | Returns the absolute value of a number                                                                       |
| math.factorial() | Returns the factorial of a number                                                                            |
| math.floor()     | Rounds a number down to the nearest integer                                                                  |
| math.fmod()      | Returns the remainder of x/y                                                                                 |
| math.frexp()     | Returns the mantissa and the exponent, of a specified number                                                 |
| math.fsum()      | Returns the sum of all items in any iterable (tuples, arrays, lists, etc.)                                   |
| math.gamma()     | Returns the gamma function at x                                                                              |
| math.gcd()       | Returns the greatest common divisor of two integers                                                          |
| math.hypot()     | Returns the Euclidean norm                                                                                   |
| math.isclose()   | Checks whether two values are close to each other, or not                                                    |
| math.isfinite()  | Checks whether a number is finite or not                                                                     |
| math.isinf()     | Checks whether a number is infinite or not                                                                   |
| math.isnan()     | Checks whether a value is NaN (not a number) or not                                                          |
| math.isqrt()     | Rounds a square root number downwards to the nearest integer                                                 |
| math.ldexp()     | Returns the inverse of math.frexp() which is x \* (2\*\*i) of the given numbers x and i                      |
| math.lgamma()    | Returns the log gamma value of x                                                                             |
| math.log()       | Returns the natural logarithm of a number, or the logarithm of number to base                                |
| math.log10()     | Returns the base-10 logarithm of x                                                                           |
| math.log1p()     | Returns the natural logarithm of 1+x                                                                         |
| math.log2()      | Returns the base-2 logarithm of x                                                                            |
| math.perm()      | Returns the number of ways to choose k items from n items with order and without repetition                  |
| math.pow()       | Returns the value of x to the power of y                                                                     |
| math.prod()      | Returns the product of all the elements in an iterable                                                       |
| math.radians()   | Converts a degree value into radians                                                                         |
| math.remainder() | Returns the closest value that can make numerator completely divisible by the denominator                    |
| math.sin()       | Returns the sine of a number                                                                                 |
| math.sinh()      | Returns the hyperbolic sine of a number                                                                      |
| math.sqrt()      | Returns the square root of a number                                                                          |
| math.tan()       | Returns the tangent of a number                                                                              |
| math.tanh()      | Returns the hyperbolic tangent of a number                                                                   |
| math.trunc()     | Returns the truncated integer parts of a number                                                              |

**Math Constants**  

| Constant | Description                                       |
| -------- | ------------------------------------------------- |
| math.e   | Returns Euler's number (2.7182...)                |
| math.inf | Returns a floating-point positive infinity        |
| math.nan | Returns a floating-point NaN (Not a Number) value |
| math.pi  | Returns PI (3.1415...)                            |
| math.tau | Returns tau (6.2831...)                           |

# Python JSON

JSON is a syntax for storing and exchanging data.

JSON is text, written with JavaScript object notation.

**JSON in Python**  
Python has a built-in package called json, which can be used to work with JSON data.

**Example**  
Import the json module:

In [395]:
import json

**Parse JSON - Convert from JSON to Python**  
If you have a JSON string, you can parse it by using the json.loads() method.

The result will be a Python dictionary.

**Example**  
Convert from JSON to Python:

In [398]:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

**Convert from Python to JSON**  
If you have a Python object, you can convert it into a JSON string by using the json.dumps() method.

**Example**  
Convert from Python to JSON:

In [401]:
import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

You can convert Python objects of the following types, into JSON strings:
>•	dict  
•	list  
•	tuple  
•	string  
•	int  
•	float  
•	True  
•	False  
•	None  

Example
Convert Python objects into JSON strings, and print the values:

In [404]:
import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

When you convert from Python to JSON, Python objects are converted into the JSON (JavaScript) equivalent:  
| Python | JSON   |
| ------ | ------ |
| dict   | Object |
| list   | Array  |
| tuple  | Array  |
| str    | String |
| int    | Number |
| float  | Number |
| TRUE   | TRUE   |
| FALSE  | FALSE  |
| None   | null   |

**Example**  
Convert a Python object containing all the legal data types:

In [408]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

**Format the Result**  
The example above prints a JSON string, but it is not very easy to read, with no indentations and line breaks.

The json.dumps() method has parameters to make it easier to read the result:

**Example**  
Use the indent parameter to define the numbers of indents:

In [411]:
json.dumps(x, indent=4)

'{\n    "name": "John",\n    "age": 30,\n    "married": true,\n    "divorced": false,\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "pets": null,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ]\n}'

You can also define the separators, default value is (", ", ": "), which means using a comma and a space to separate each object, and a colon and a space to separate keys from values:

**Example**  
Use the separators parameter to change the default separator:

In [414]:
json.dumps(x, indent=4, separators=(". ", " = "))

'{\n    "name" = "John". \n    "age" = 30. \n    "married" = true. \n    "divorced" = false. \n    "children" = [\n        "Ann". \n        "Billy"\n    ]. \n    "pets" = null. \n    "cars" = [\n        {\n            "model" = "BMW 230". \n            "mpg" = 27.5\n        }. \n        {\n            "model" = "Ford Edge". \n            "mpg" = 24.1\n        }\n    ]\n}'

**Order the Result**  
The json.dumps() method has parameters to order the keys in the result:

**Example**  
Use the sort_keys parameter to specify if the result should be sorted or not:

In [417]:
json.dumps(x, indent=4, sort_keys=True)

'{\n    "age": 30,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ],\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "divorced": false,\n    "married": true,\n    "name": "John",\n    "pets": null\n}'

# Python RegEx

A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.

RegEx can be used to check if a string contains the specified search pattern.

**RegEx Module**  
Python has a built-in package called re, which can be used to work with Regular Expressions.

**Import the re module:**

In [421]:
import re

**RegEx in Python**  
When you have imported the re module, you can start using regular expressions:

**Example**  
Search the string to see if it starts with "The" and ends with "Spain":

In [424]:
import re

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

**RegEx Functions**  
The re module offers a set of functions that allows us to search a string for a match:  
| Function | Description                                                       |
| -------- | ----------------------------------------------------------------- |
| findall  | Returns a list containing all matches                             |
| search   | Returns a Match object if there is a match anywhere in the string |
| split    | Returns a list where the string has been split at each match      |
| sub      | Replaces one or many matches with a string                        |

**Metacharacters**  
Metacharacters are characters with a special meaning:  
| Character | Description                                                                | Example      |
| --------- | -------------------------------------------------------------------------- | ------------ |
| []        | A set of characters                                                        | [a-m]        |
| \\        | Signals a special sequence (can also be used to escape special characters) | \\d          |
| .         | Any character (except newline character)                                   | he..o        |
| ^         | Starts with                                                                | ^hello       |
| $         | Ends with                                                                  | planet$      |
| \*        | Zero or more occurrences                                                   | he.\*o       |
| +         | One or more occurrences                                                    | he.+o        |
| ?         | Zero or one occurrences                                                    | he.?o        |
| {}        | Exactly the specified number of occurrences                                | he.{2}o      |
| \|        | Either or                                                                  | falls\|stays |
| ()        | Capture and group                                                          |              |

**Special Sequences**  
A special sequence is a \ followed by one of the characters in the list below, and has a special meaning:  
| Character                                                                                    | Description                                                                                                                                | Example  |
| -------------------------------------------------------------------------------------------- | ------------------------------------------------------------------------------------------------------------------------------------------ | -------- |
| \\A                                                                                          | Returns a match if the specified characters are at the beginning of the string                                                             | \\AThe   |
| \\b                                                                                          | Returns a match where the specified characters are at the beginning or at the end of a word                                                |          |
| (the "r" in the beginning is making sure that the string is being treated as a "raw string") | r"\\bain"                                                                                                                                  |          |
|                                                                                              |                                                                                                                                            |          |
| r"ain\\b"                                                                                    |                                                                                                                                            |          |
|                                                                                              |                                                                                                                                            |          |
| \\B                                                                                          | Returns a match where the specified characters are present, but NOT at the beginning (or at the end) of a word                             |          |
| (the "r" in the beginning is making sure that the string is being treated as a "raw string") | r"\\Bain"                                                                                                                                  |          |
|                                                                                              |                                                                                                                                            |          |
| r"ain\\B"                                                                                    |                                                                                                                                            |          |
|                                                                                              |                                                                                                                                            |          |
| \\d                                                                                          | Returns a match where the string contains digits (numbers from 0-9)                                                                        | \\d      |
| \\D                                                                                          | Returns a match where the string DOES NOT contain digits                                                                                   | \\D      |
| \\s                                                                                          | Returns a match where the string contains a white space character                                                                          | \\s      |
| \\S                                                                                          | Returns a match where the string DOES NOT contain a white space character                                                                  | \\S      |
| \\w                                                                                          | Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore \ \_ character) | \\w      |
| \\W                                                                                          | Returns a match where the string DOES NOT contain any word characters                                                                      | \\W      |
| \\Z                                                                                          | Returns a match if the specified characters are at the end of the string                                                                   | Spain\\Z |

**Sets**  
A set is a set of characters inside a pair of square brackets [] with a special meaning:  
| Set        | Description                                                                                                            |
| ---------- | ---------------------------------------------------------------------------------------------------------------------- |
| [arn]      | Returns a match where one of the specified characters (a, r, or n) is present                                          |
| [a-n]      | Returns a match for any lower case character, alphabetically between a and n                                           |
| [^arn]     | Returns a match for any character EXCEPT a, r, and n                                                                   |
| [0123]     | Returns a match where any of the specified digits (0, 1, 2, or 3) are present                                          |
| [0-9]      | Returns a match for any digit between 0 and 9                                                                          |
| [0-5][0-9] | Returns a match for any two-digit numbers from 00 and 59                                                               |
| [a-zA-Z]   | Returns a match for any character alphabetically between a and z, lower case OR upper case                             |
| [+]        | In sets, +, \*, ., \|, (), $,{} has no special meaning, so [+] means: return a match for any + character in the string |

**The findall() Function**  
The findall() function returns a list containing all matches.  
**Example**  
Print a list of all matches:

In [447]:
import re

txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

The list contains the matches in the order they are found.

If no matches are found, an empty list is returned:
**Example**  
Return an empty list if no match was found:

In [452]:
import re

txt = "The rain in Spain"
x = re.findall("Portugal", txt)
print(x)

[]

**The search() Function**  
The search() function searches the string for a match, and returns a Match object if there is a match.

If there is more than one match, only the first occurrence of the match will be returned:

**Example**  
Search for the first white-space character in the string:

In [457]:
import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipykernel_1412202/3440849899.py:4: SyntaxWarning: invalid escape sequence '\s'
  x = re.search("\s", txt)

If no matches are found, the value None is returned:

**Example**  
Make a search that returns no match:

In [460]:
import re

txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)

None

The split() Function
The split() function returns a list where the string has been split at each match:

**Example**  
Split at each white-space character:

In [463]:
import re

txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipykernel_1412202/544782604.py:4: SyntaxWarning: invalid escape sequence '\s'
  x = re.split("\s", txt)

You can control the number of occurrences by specifying the maxsplit parameter:

**Example**  
Split the string only at the first occurrence:

In [466]:
import re

txt = "The rain in Spain"
x = re.split("\s", txt, 1)
print(x)

['The', 'rain in Spain']

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipykernel_1412202/2050144357.py:4: SyntaxWarning: invalid escape sequence '\s'
  x = re.split("\s", txt, 1)

**The sub() Function**  
The sub() function replaces the matches with the text of your choice:

**Example**  
Replace every white-space character with the number 9:

In [469]:
import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipykernel_1412202/1314579611.py:4: SyntaxWarning: invalid escape sequence '\s'
  x = re.sub("\s", "9", txt)

You can control the number of replacements by specifying the count parameter:

**Example**  
Replace the first 2 occurrences:

In [472]:
import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipykernel_1412202/390712954.py:4: SyntaxWarning: invalid escape sequence '\s'
  x = re.sub("\s", "9", txt, 2)

**Match Object**  
A Match Object is an object containing information about the search and the result.

>Note: If there is no match, the value None will be returned, instead of the Match Object.

**Example**  
Do a search that will return a Match Object:

In [475]:
import re

txt = "The rain in Spain"
x = re.search("ai", txt)
print(x) #this will print an object

<re.Match object; span=(5, 7), match='ai'>

The Match object has properties and methods used to retrieve information about the search, and the result:

>.span() returns a tuple containing the start-, and end positions of the match.  
.string returns the string passed into the function  
.group() returns the part of the string where there was a match  
**Example**  
Print the position (start- and end-position) of the first match occurrence.

The regular expression looks for any words that starts with an upper case "S":

In [478]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

**Example**  
Print the string passed into the function:

In [481]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

**Example**  
Print the part of the string where there was a match.

The regular expression looks for any words that starts with an upper case "S":

In [484]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain

>Note: If there is no match, the value None will be returned, instead of the Match Object.

In [506]:
del x

# Python Try Except

The try block lets you test a block of code for errors.

The except block lets you handle the error.

The else block lets you execute code when there is no error.

The finally block lets you execute code, regardless of the result of the try- and except blocks.

**Exception Handling**  
When an error occurs, or exception as we call it, Python will normally stop and generate an error message.

These exceptions can be handled using the try statement:

**Example**  
The try block will generate an exception, because x is not defined:

In [510]:
try:
  print(x)
except:
  print("An exception occurred")

An exception occurred

Since the try block raises an error, the except block will be executed.

Without the try block, the program will crash and raise an error:

**Example** 
This statement will raise an error, because x is not defined:

In [513]:
print(x)

NameError: name 'x' is not defined

**Many Exceptions**  
You can define as many exception blocks as you want, e.g. if you want to execute a special block of code for a special kind of error:

**Example**  
Print one message if the try block raises a NameError and another for other errors:

In [516]:
try:
  print(x)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")

Variable x is not defined

**Else**  
You can use the else keyword to define a block of code to be executed if no errors were raised:

**Example**  
In this example, the try block does not generate any error:

In [519]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

**Finally**  
The finally block, if specified, will be executed regardless if the try block raises an error or not.

**Example**

In [522]:
try:
  print(x)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

This can be useful to close objects and clean up resources:

**Example**  
Try to open and write to a file that is not writable:

In [526]:
try:
  f = open("demofile.txt")
  try:
    f.write("Lorum Ipsum")
  except:
    print("Something went wrong when writing to the file")
  finally:
    f.close()
except:
  print("Something went wrong when opening the file")

Something went wrong when opening the file

The program can continue, without leaving the file object open.

**Raise an exception**  
As a Python developer you can choose to throw an exception if a condition occurs.

To throw (or raise) an exception, use the raise keyword.

**Example**  
Raise an error and stop the program if x is lower than 0:

In [531]:
x = -1

if x < 0:
  raise Exception("Sorry, no numbers below zero")

Exception: Sorry, no numbers below zero

The raise keyword is used to raise an exception.

You can define what kind of error to raise, and the text to print to the user.

**Example**  
Raise a TypeError if x is not an integer:

In [534]:
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed

## Built-in Exceptions

The table below shows built-in exceptions that are usually raised in Python:

| Exception             | Description                                                                       |
| --------------------- | --------------------------------------------------------------------------------- |
| ArithmeticError       | Raised when an error occurs in numeric calculations                               |
| AssertionError        | Raised when an assert statement fails                                             |
| AttributeError        | Raised when attribute reference or assignment fails                               |
| Exception             | Base class for all exceptions                                                     |
| EOFError              | Raised when the input() method hits an "end of file" condition (EOF)              |
| FloatingPointError    | Raised when a floating point calculation fails                                    |
| GeneratorExit         | Raised when a generator is closed (with the close() method)                       |
| ImportError           | Raised when an imported module does not exist                                     |
| IndentationError      | Raised when indentation is not correct                                            |
| IndexError            | Raised when an index of a sequence does not exist                                 |
| KeyError              | Raised when a key does not exist in a dictionary                                  |
| KeyboardInterrupt     | Raised when the user presses Ctrl+c, Ctrl+z or Delete                             |
| LookupError           | Raised when errors raised cant be found                                           |
| MemoryError           | Raised when a program runs out of memory                                          |
| NameError             | Raised when a variable does not exist                                             |
| NotImplementedError   | Raised when an abstract method requires an inherited class to override the method |
| OSError               | Raised when a system related operation causes an error                            |
| OverflowError         | Raised when the result of a numeric calculation is too large                      |
| ReferenceError        | Raised when a weak reference object does not exist                                |
| RuntimeError          | Raised when an error occurs that do not belong to any specific exceptions         |
| StopIteration         | Raised when the next() method of an iterator has no further values                |
| SyntaxError           | Raised when a syntax error occurs                                                 |
| TabError              | Raised when indentation consists of tabs or spaces                                |
| SystemError           | Raised when a system error occurs                                                 |
| SystemExit            | Raised when the sys.exit() function is called                                     |
| TypeError             | Raised when two different types are combined                                      |
| UnboundLocalError     | Raised when a local variable is referenced before assignment                      |
| UnicodeError          | Raised when a unicode problem occurs                                              |
| UnicodeEncodeError    | Raised when a unicode encoding problem occurs                                     |
| UnicodeDecodeError    | Raised when a unicode decoding problem occurs                                     |
| UnicodeTranslateError | Raised when a unicode translation problem occurs                                  |
| ValueError            | Raised when there is a wrong value in a specified data type                       |
| ZeroDivisionError     | Raised when the second operator in a division is zero                             |

# Python User Input

Python allows for user input.

That means we are able to ask the user for input.

The method is a bit different in Python 3.6 than Python 2.7.

Python 3.6 uses the input() method.

Python 2.7 uses the raw_input() method.

The following example asks for the username, and when you entered the username, it gets printed on the screen:

**Python 3.6**

In [557]:
username = input("Enter username:")
print("Username is: " + username)

Enter username: user2

Username is: user2

**Python 2.7**

In [564]:
username = raw_input("Enter username:")
print("Username is: " + username)

NameError: name 'raw_input' is not defined

>Python stops executing when it comes to the input() function, and continues when the user has given some input.

# Python String Formatting

F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

Before Python 3.6 we had to use the format() method.

**F-Strings**  
F-string allows you to format selected parts of a string.

To specify a string as an f-string, simply put an f in front of the string literal, like this:

**Example**  
Create an f-string:

In [574]:
txt = f"The price is 49 dollars"
print(txt)

The price is 49 dollars

**Placeholders and Modifiers**  
To format values in an f-string, add placeholders {}, a placeholder can contain variables, operations, functions, and modifiers to format the value.

**Example**  
Add a placeholder for the price variable:

In [577]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

A placeholder can also include a modifier to format the value.

A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals:

**Example**  
Display the price with 2 decimals:

In [582]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

You can also format a value directly without keeping it in a variable:

**Example**  
Display the value 95 with 2 decimals:

In [587]:
txt = f"The price is {95:.2f} dollars"
print(txt)

The price is 95.00 dollars

# Python File Handling

## File Open

The key function for working with files in Python is the open() function.

The open() function takes two parameters; filename, and mode.

There are four different methods (modes) for opening a file:

"r" - Read - Default value. Opens a file for reading, error if the file does not exist

"a" - Append - Opens a file for appending, creates the file if it does not exist

"w" - Write - Opens a file for writing, creates the file if it does not exist

"x" - Create - Creates the specified file, returns an error if the file exists

In addition you can specify if the file should be handled as binary or text mode

"t" - Text - Default value. Text mode

"b" - Binary - Binary mode (e.g. images)

**Syntax**  
To open a file for reading it is enough to specify the name of the file:

In [618]:
f = open("demofile.txt")

The code above is the same as:

In [620]:
f = open("demofile.txt", "rt")

Because "r" for read, and "t" for text are the default values, you do not need to specify them.

>Note: Make sure the file exists, or else you will get an error.

## Open a File on the Server

Assume we have the following file, located in the same folder as Python:

demofile.txt

>Hello! Welcome to demofile.txt  
This file is for testing purposes.  
Good Luck!

To open the file, use the built-in open() function.  

The open() function returns a file object, which has a read() method for reading the content of the file:

**Example**

In [631]:
f = open("demofile.txt", "r")
print(f.read())

Hello! Welcome to demofile.txt
This file is for testing purposes.
Good Luck!

If the file is located in a different location, you will have to specify the file path, like this:

**Example**  
Open a file on a different location:

In [640]:
f = open("D:\\AI\welcome.txt", "r")
print(f.read())

Welcome to this text file!
This file is located in a folder named "myfiles", on the D drive.
Good Luck!

Read Only Parts of the File
By default the read() method returns the whole text, but you can also specify how many characters you want to return:

**Example**  
Return the 5 first characters of the file:

In [645]:
f = open("demofile.txt", "r")
print(f.read(5))

Hello

**Read Lines**  
You can return one line by using the readline() method:

**Example**  
Read one line of the file:

In [650]:
f = open("demofile.txt", "r")
print(f.readline())

Hello! Welcome to demofile.txt

By calling readline() two times, you can read the two first lines:

**Example**  
Read two lines of the file:

In [655]:
f = open("demofile.txt", "r")
print(f.readline())
print(f.readline())

Hello! Welcome to demofile.txt

This file is for testing purposes.

By looping through the lines of the file, you can read the whole file, line by line:

**Example**  
Loop through the file line by line:

In [701]:
f = open("demofile.txt", "r")
for x in f:
  print(x)

Hello! Welcome to demofile.txt

This file is for testing purposes.

Good Luck!

**Close Files**  
It is a good practice to always close the file when you are done with it.

**Example**  
Close the file when you are finish with it:

In [706]:
f = open("demofile.txt", "r")
print(f.readline())
f.close()

Hello! Welcome to demofile.txt

>Note: You should always close your files, in some cases, due to buffering, changes made to a file may not show until you close the file.

## File Write

**Write to an Existing File**  
To write to an existing file, you must add a parameter to the open() function:

"a" - Append - will append to the end of the file

"w" - Write - will overwrite any existing content

**Example**  
Open the file "demofile2.txt" and append content to the file:

In [715]:
f = open("demofile2.txt", "a")
f.write("Now the file has more content!")
f.close()

#open and read the file after the appending:
f = open("demofile2.txt", "r")
print(f.read())

Now the file has more content!

**Example**  
Open the file "demofile3.txt" and overwrite the content:

In [720]:
f = open("demofile3.txt", "w")
f.write("Woops! I have deleted the content!")
f.close()

#open and read the file after the overwriting:
f = open("demofile3.txt", "r")
print(f.read())

Woops! I have deleted the content!

>Note: the "w" method will overwrite the entire file.

**Create a New File**  
To create a new file in Python, use the open() method, with one of the following parameters:

"x" - Create - will create a file, returns an error if the file exist

"a" - Append - will create a file if the specified file does not exist

"w" - Write - will create a file if the specified file does not exist

**Example**  
Create a file called "myfile.txt":

In [723]:
f = open("myfile.txt", "x")

Result: a new empty file is created!

**Example**  
Create a new file if it does not exist:

In [730]:
f = open("myfile.txt", "w")

## Delete File

**Delete a File**  
To delete a file, you must import the OS module, and run its os.remove() function:

**Example**  
Remove the file "demofile.txt":

In [736]:
import os
os.remove("demofile.txt")

**Check if File exist:**  
To avoid getting an error, you might want to check if the file exists before you try to delete it:

**Example**  
Check if file exists, then delete it:

In [742]:
import os
if os.path.exists("demofile.txt"):
  os.remove("demofile.txt")
else:
  print("The file does not exist")

The file does not exist

**Delete Folder**  
To delete an entire folder, use the os.rmdir() method:

**Example**  
Remove the folder "myfolder":

In [754]:
import os
os.rmdir("myfolder")

OSError: [Errno 39] Directory not empty: 'myfolder'

>Note: You can only remove empty folders.

## File Methods

Python has a set of methods available for the file object.  
| Method       | Description                                                                          |
| ------------ | ------------------------------------------------------------------------------------ |
| close()      | Closes the file                                                                      |
| detach()     | Returns the separated raw stream from the buffer                                     |
| fileno()     | Returns a number that represents the stream, from the operating system's perspective |
| flush()      | Flushes the internal buffer                                                          |
| isatty()     | Returns whether the file stream is interactive or not                                |
| read()       | Returns the file content                                                             |
| readable()   | Returns whether the file stream can be read or not                                   |
| readline()   | Returns one line from the file                                                       |
| readlines()  | Returns a list of lines from the file                                                |
| seek()       | Change the file position                                                             |
| seekable()   | Returns whether the file allows us to change the file position                       |
| tell()       | Returns the current file position                                                    |
| truncate()   | Resizes the file to a specified size                                                 |
| writable()   | Returns whether the file can be written to or not                                    |
| write()      | Writes the specified string to the file                                              |
| writelines() | Writes a list of strings to the file                                                 |

**file.close()**  
_Method closes an open file.  
You should always close your files, in some cases, due to buffering, changes made to a file may not show until you close the file._

In [777]:
#Close a file after it has been opened:
f = open("demofile.txt", "r")
print(f.read())
f.close()

Hello! Welcome to demofile.txt
This file is for testing purposes.
Good Luck!

**Continued...**

# Python Keywords

Python has a set of keywords that are reserved words that cannot be used as variable names, function names, or any other identifiers:  

| Keyword  | Description                                                                                           |
| -------- | ----------------------------------------------------------------------------------------------------- |
| and      | A logical operator                                                                                    |
| as       | To create an alias                                                                                    |
| assert   | For debugging                                                                                         |
| break    | To break out of a loop                                                                                |
| class    | To define a class                                                                                     |
| continue | To continue to the next iteration of a loop                                                           |
| def      | To define a function                                                                                  |
| del      | To delete an object                                                                                   |
| elif     | Used in conditional statements, same as else if                                                       |
| else     | Used in conditional statements                                                                        |
| except   | Used with exceptions, what to do when an exception occurs                                             |
| FALSE    | Boolean value, result of comparison operations                                                        |
| finally  | Used with exceptions, a block of code that will be executed no matter if there is an exception or not |
| for      | To create a for loop                                                                                  |
| from     | To import specific parts of a module                                                                  |
| global   | To declare a global variable                                                                          |
| if       | To make a conditional statement                                                                       |
| import   | To import a module                                                                                    |
| in       | To check if a value is present in a list, tuple, etc.                                                 |
| is       | To test if two variables are equal                                                                    |
| lambda   | To create an anonymous function                                                                       |
| None     | Represents a null value                                                                               |
| nonlocal | To declare a non-local variable                                                                       |
| not      | A logical operator                                                                                    |
| or       | A logical operator                                                                                    |
| pass     | A null statement, a statement that will do nothing                                                    |
| raise    | To raise an exception                                                                                 |
| return   | To exit a function and return a value                                                                 |
| TRUE     | Boolean value, result of comparison operations                                                        |
| try      | To make a try...except statement                                                                      |
| while    | To create a while loop                                                                                |
| with     | Used to simplify exception handling                                                                   |
| yield    | To return a list of values from a generator                                                           |

# Python Built in Functions

Python has a set of built-in functions.  
| Function       | Description                                                                                   |
| -------------- | --------------------------------------------------------------------------------------------- |
| abs()          | Returns the absolute value of a number                                                        |
| all()          | Returns True if all items in an iterable object are true                                      |
| any()          | Returns True if any item in an iterable object is true                                        |
| ascii()        | Returns a readable version of an object. Replaces none-ascii characters with escape character |
| bin()          | Returns the binary version of a number                                                        |
| bool()         | Returns the boolean value of the specified object                                             |
| bytearray()    | Returns an array of bytes                                                                     |
| bytes()        | Returns a bytes object                                                                        |
| callable()     | Returns True if the specified object is callable, otherwise False                             |
| chr()          | Returns a character from the specified Unicode code.                                          |
| classmethod()  | Converts a method into a class method                                                         |
| compile()      | Returns the specified source as an object, ready to be executed                               |
| complex()      | Returns a complex number                                                                      |
| delattr()      | Deletes the specified attribute (property or method) from the specified object                |
| dict()         | Returns a dictionary (Array)                                                                  |
| dir()          | Returns a list of the specified object's properties and methods                               |
| divmod()       | Returns the quotient and the remainder when argument1 is divided by argument2                 |
| enumerate()    | Takes a collection (e.g. a tuple) and returns it as an enumerate object                       |
| eval()         | Evaluates and executes an expression                                                          |
| exec()         | Executes the specified code (or object)                                                       |
| filter()       | Use a filter function to exclude items in an iterable object                                  |
| float()        | Returns a floating point number                                                               |
| format()       | Formats a specified value                                                                     |
| frozenset()    | Returns a frozenset object                                                                    |
| getattr()      | Returns the value of the specified attribute (property or method)                             |
| globals()      | Returns the current global symbol table as a dictionary                                       |
| hasattr()      | Returns True if the specified object has the specified attribute (property/method)            |
| hash()         | Returns the hash value of a specified object                                                  |
| help()         | Executes the built-in help system                                                             |
| hex()          | Converts a number into a hexadecimal value                                                    |
| id()           | Returns the id of an object                                                                   |
| input()        | Allowing user input                                                                           |
| int()          | Returns an integer number                                                                     |
| isinstance()   | Returns True if a specified object is an instance of a specified object                       |
| issubclass()   | Returns True if a specified class is a subclass of a specified object                         |
| iter()         | Returns an iterator object                                                                    |
| len()          | Returns the length of an object                                                               |
| list()         | Returns a list                                                                                |
| locals()       | Returns an updated dictionary of the current local symbol table                               |
| map()          | Returns the specified iterator with the specified function applied to each item               |
| max()          | Returns the largest item in an iterable                                                       |
| memoryview()   | Returns a memory view object                                                                  |
| min()          | Returns the smallest item in an iterable                                                      |
| next()         | Returns the next item in an iterable                                                          |
| object()       | Returns a new object                                                                          |
| oct()          | Converts a number into an octal                                                               |
| open()         | Opens a file and returns a file object                                                        |
| ord()          | Convert an integer representing the Unicode of the specified character                        |
| pow()          | Returns the value of x to the power of y                                                      |
| print()        | Prints to the standard output device                                                          |
| property()     | Gets, sets, deletes a property                                                                |
| range()        | Returns a sequence of numbers, starting from 0 and increments by 1 (by default)               |
| repr()         | Returns a readable version of an object                                                       |
| reversed()     | Returns a reversed iterator                                                                   |
| round()        | Rounds a numbers                                                                              |
| set()          | Returns a new set object                                                                      |
| setattr()      | Sets an attribute (property/method) of an object                                              |
| slice()        | Returns a slice object                                                                        |
| sorted()       | Returns a sorted list                                                                         |
| staticmethod() | Converts a method into a static method                                                        |
| str()          | Returns a string object                                                                       |
| sum()          | Sums the items of an iterator                                                                 |
| super()        | Returns an object that represents the parent class                                            |
| tuple()        | Returns a tuple                                                                               |
| type()         | Returns the type of an object                                                                 |
| vars()         | Returns the \__dict_ \_ property of an object                                                 |
| zip()          | Returns an iterator, from two or more iterators                                               |

# Python Random Module

Python has a built-in module that you can use to make random numbers.

The random module has a set of methods:

| Method            | Description                                                                                                                                            |
| ----------------- | ------------------------------------------------------------------------------------------------------------------------------------------------------ |
| seed()            | Initialize the random number generator                                                                                                                 |
| getstate()        | Returns the current internal state of the random number generator                                                                                      |
| setstate()        | Restores the internal state of the random number generator                                                                                             |
| getrandbits()     | Returns a number representing the random bits                                                                                                          |
| randrange()       | Returns a random number between the given range                                                                                                        |
| randint()         | Returns a random number between the given range                                                                                                        |
| choice()          | Returns a random element from the given sequence                                                                                                       |
| choices()         | Returns a list with a random selection from the given sequence                                                                                         |
| shuffle()         | Takes a sequence and returns the sequence in a random order                                                                                            |
| sample()          | Returns a given sample of a sequence                                                                                                                   |
| random()          | Returns a random float number between 0 and 1                                                                                                          |
| uniform()         | Returns a random float number between two given parameters                                                                                             |
| triangular()      | Returns a random float number between two given parameters, you can also set a mode parameter to specify the midpoint between the two other parameters |
| betavariate()     | Returns a random float number between 0 and 1 based on the Beta distribution (used in statistics)                                                      |
| expovariate()     | Returns a random float number based on the Exponential distribution (used in statistics)                                                               |
| gammavariate()    | Returns a random float number based on the Gamma distribution (used in statistics)                                                                     |
| gauss()           | Returns a random float number based on the Gaussian distribution (used in probability theories)                                                        |
| lognormvariate()  | Returns a random float number based on a log-normal distribution (used in probability theories)                                                        |
| normalvariate()   | Returns a random float number based on the normal distribution (used in probability theories)                                                          |
| vonmisesvariate() | Returns a random float number based on the von Mises distribution (used in directional statistics)                                                     |
| paretovariate()   | Returns a random float number based on the Pareto distribution (used in probability theories)                                                          |
| weibullvariate()  | Returns a random float number based on the Weibull distribution (used in statistics)                                                                   |

# Python Requests Module

**Definition and Usage**  
The requests module allows you to send HTTP requests using Python.

The HTTP request returns a Response Object with all the response data (content, encoding, status, etc).

**Download and Install the Requests Module**  
Navigate your command line to the location of PIP, and type the following:

pip install requests  
**Syntax**  
requests.methodname(params)  
**Methods**  
| Method                      | Description                                                  |
| --------------------------- | ------------------------------------------------------------ |
| delete(url, args)           | Sends a DELETE request to the specified url                  |
| get(url, params, args)      | Sends a GET request to the specified url                     |
| head(url, args)             | Sends a HEAD request to the specified url                    |
| patch(url, data, args)      | Sends a PATCH request to the specified url                   |
| post(url, data, json, args) | Sends a POST request to the specified url                    |
| put(url, data, args)        | Sends a PUT request to the specified url                     |
| request(method, url, args)  | Sends a request of the specified method to the specified url |

In [848]:
#Make a request to a web page, and print the response text:

import requests
x = requests.get('https://millends.com/')
print(x.text)

<!DOCTYPE html>
<html lang="en">
<head>
  <title>world's smallest park</title>
  <!-- <link rel="shortcut icon" type="image/png" href=""/> -->

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <link rel="preload" href="wikipg-dark-min.png" as="image">

  <!-- load css stylesheets -->
  <link rel="stylesheet" href="millendsparkCSS/millendspark.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="millendsparkJS.js"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FNJPR9M8Z3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FNJPR9M8Z3', {
  'page_title': 'home'
  });
</script>
<body>
  <div class="description-container">
    <h1>the world's smallest website<br>for the world's smallest park</h1>
  </div>
  <div class="mini-site-container">
    <div class="mini-site">
      <div class="svg-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"><g id="landing">
          <g id="landingbg"><rect y="435.4" width="500" height="64.6" fill="#f2f2f2"/><rect x="0.35" width="500" height="435.4" fill="#b1d5e9"/><path d="M168.37,122.12V113h-9.12v.47l-.18-.47h.18v-9.11h-9.12V94.77H131.9v.12a1.36,1.36,0,0,1-.12-.12h.12V85.65h-9l-.08-.06V76.53h-9.12v9.12h.19l-.19.12v-.12h-9.12v17.93l-.1.31H77.19V113H68.07v9.12H59v9.12H177.48v-9.12Z" fill="#fff" opacity="0.5"/><text transform="translate(157.49 239.33)" font-size="30.08" fill="#fff" font-family="VT323-Regular, VT323">PORTLAND, OREGON</text><text transform="translate(80.96 206.97)" font-size="61.45" fill="#fff" font-family="VT323-Regular, VT323">MILL ENDS PARK</text><rect x="235.74" y="430.92" width="41.45" height="4.49" fill="#fff"/><rect x="236.59" y="368.49" width="40.86" height="40.86" fill="#9c9"/><rect x="254.21" y="381.71" width="2.66" height="49.16" fill="#a67c52"/><rect x="256.87" y="394.84" width="2.38" height="2.38" fill="#a67c52"/><rect x="259.25" y="392.46" width="2.38" height="2.38" fill="#a67c52"/><rect x="261.63" y="390.07" width="2.38" height="2.38" fill="#a67c52"/><rect x="264.02" y="387.69" width="2.38" height="2.38" fill="#a67c52"/><path d="M193.74,140.36h-1.57V122.12h-9.12V113H164.81v.11l-.11-.11h.11v-9.11H137.46v17.92l-.11.31h-9v18.17l-.48.07H110.11v9.11h91.17v-9.11Z" fill="#fff" opacity="0.5"/><rect x="387.25" y="87.69" width="52.93" height="8.79" fill="#fdcb67"/><rect x="387.25" y="78.9" width="52.93" height="8.79" fill="#fdcb67"/><rect x="404.82" y="70.11" width="8.79" height="8.79" fill="#fdcb67"/><rect x="396.04" y="70.11" width="8.79" height="8.79" fill="#fdcb67"/><rect x="387.25" y="105.27" width="52.93" height="8.79" fill="#fdcb67"/><rect x="387.25" y="96.48" width="52.93" height="8.79" fill="#fdcb67"/><rect x="422.4" y="70.11" width="8.79" height="8.79" fill="#fdcb67"/><rect x="413.61" y="70.11" width="8.79" height="8.79" fill="#fdcb67"/><rect x="431.19" y="70.11" width="8.79" height="8.79" fill="#fdcb67"/><rect x="387.25" y="114.06" width="52.93" height="8.79" fill="#fdcb67"/><rect x="405.02" y="122.85" width="8.79" height="8.79" fill="#fdcb67"/><rect x="396.23" y="122.85" width="8.79" height="8.79" fill="#fdcb67"/><rect x="422.6" y="122.85" width="8.79" height="8.79" fill="#fdcb67"/><rect x="413.81" y="122.85" width="8.79" height="8.79" fill="#fdcb67"/><rect x="431.39" y="122.85" width="8.79" height="8.79" fill="#fdcb67"/><rect x="440.18" y="87.69" width="8.79" height="8.79" fill="#fdcb67"/><rect x="440.18" y="78.9" width="8.79" height="8.79" fill="#fdcb67"/><rect x="440.18" y="105.27" width="8.79" height="8.79" fill="#fdcb67"/><rect x="440.18" y="96.48" width="8.79" height="8.79" fill="#fdcb67"/><rect x="440.18" y="114.06" width="8.79" height="8.79" fill="#fdcb67"/><path d="M364.13,132.13h1.42V113.89h8.24v-9.11h16.49v.1l.1-.1h-.1V95.66H415v17.92l.09.31h8.15v18.17l.43.07h16.06v9.12H357.3v-9.12Z" fill="#fff" opacity="0.5"/></g>

          <a href="bigger.html"><g id="landingbutton"><rect x="192.91" y="271.06" width="122.58" height="54.55" fill="#f2f2f2"/><text transform="translate(214.57 305.91)" font-size="27.53" fill="#b3b3b3" font-family="VT323-Regular, VT323">EXPLORE</text></g></a></g></svg>
      </div>

    </div>
  </div>
  <div class="credit-container">
    <h1>built by<br>@bonneyruan</h1>
  </div>
  <div class="zoom-button-container">
    <button id="zoom-button">
      <h2>zoom in</h2>
    </button>
  </div>
</body>

# Python statistics Module

Python has a built-in module that you can use to calculate mathematical statistics of numeric data.

The statistics module was new in Python 3.4.

**Statistics Methods**  
| Method                      | Description                                                                 |
| --------------------------- | --------------------------------------------------------------------------- |
| statistics.harmonic_mean()  | Calculates the harmonic mean (central location) of the given data           |
| statistics.mean()           | Calculates the mean (average) of the given data                             |
| statistics.median()         | Calculates the median (middle value) of the given data                      |
| statistics.median_grouped() | Calculates the median of grouped continuous data                            |
| statistics.median_high()    | Calculates the high median of the given data                                |
| statistics.median_low()     | Calculates the low median of the given data                                 |
| statistics.mode()           | Calculates the mode (central tendency) of the given numeric or nominal data |
| statistics.pstdev()         | Calculates the standard deviation from an entire population                 |
| statistics.stdev()          | Calculates the standard deviation from a sample of data                     |
| statistics.pvariance()      | Calculates the variance of an entire population                             |
| statistics.variance()       | Calculates the variance from a sample of data                               |

# Python math Module

Python has a built-in module that you can use for mathematical tasks.

The math module has a set of methods and constants.

**Math Methods**  
| Method           | Description                                                                                                  |
| ---------------- | ------------------------------------------------------------------------------------------------------------ |
| math.acos()      | Returns the arc cosine of a number                                                                           |
| math.acosh()     | Returns the inverse hyperbolic cosine of a number                                                            |
| math.asin()      | Returns the arc sine of a number                                                                             |
| math.asinh()     | Returns the inverse hyperbolic sine of a number                                                              |
| math.atan()      | Returns the arc tangent of a number in radians                                                               |
| math.atan2()     | Returns the arc tangent of y/x in radians                                                                    |
| math.atanh()     | Returns the inverse hyperbolic tangent of a number                                                           |
| math.ceil()      | Rounds a number up to the nearest integer                                                                    |
| math.comb()      | Returns the number of ways to choose k items from n items without repetition and order                       |
| math.copysign()  | Returns a float consisting of the value of the first parameter and the sign of the second parameter          |
| math.cos()       | Returns the cosine of a number                                                                               |
| math.cosh()      | Returns the hyperbolic cosine of a number                                                                    |
| math.degrees()   | Converts an angle from radians to degrees                                                                    |
| math.dist()      | Returns the Euclidean distance between two points (p and q), where p and q are the coordinates of that point |
| math.erf()       | Returns the error function of a number                                                                       |
| math.erfc()      | Returns the complementary error function of a number                                                         |
| math.exp()       | Returns E raised to the power of x                                                                           |
| math.expm1()     | Returns Ex - 1                                                                                               |
| math.fabs()      | Returns the absolute value of a number                                                                       |
| math.factorial() | Returns the factorial of a number                                                                            |
| math.floor()     | Rounds a number down to the nearest integer                                                                  |
| math.fmod()      | Returns the remainder of x/y                                                                                 |
| math.frexp()     | Returns the mantissa and the exponent, of a specified number                                                 |
| math.fsum()      | Returns the sum of all items in any iterable (tuples, arrays, lists, etc.)                                   |
| math.gamma()     | Returns the gamma function at x                                                                              |
| math.gcd()       | Returns the greatest common divisor of two integers                                                          |
| math.hypot()     | Returns the Euclidean norm                                                                                   |
| math.isclose()   | Checks whether two values are close to each other, or not                                                    |
| math.isfinite()  | Checks whether a number is finite or not                                                                     |
| math.isinf()     | Checks whether a number is infinite or not                                                                   |
| math.isnan()     | Checks whether a value is NaN (not a number) or not                                                          |
| math.isqrt()     | Rounds a square root number downwards to the nearest integer                                                 |
| math.ldexp()     | Returns the inverse of math.frexp() which is x \* (2\*\*i) of the given numbers x and i                      |
| math.lgamma()    | Returns the log gamma value of x                                                                             |
| math.log()       | Returns the natural logarithm of a number, or the logarithm of number to base                                |
| math.log10()     | Returns the base-10 logarithm of x                                                                           |
| math.log1p()     | Returns the natural logarithm of 1+x                                                                         |
| math.log2()      | Returns the base-2 logarithm of x                                                                            |
| math.perm()      | Returns the number of ways to choose k items from n items with order and without repetition                  |
| math.pow()       | Returns the value of x to the power of y                                                                     |
| math.prod()      | Returns the product of all the elements in an iterable                                                       |
| math.radians()   | Converts a degree value into radians                                                                         |
| math.remainder() | Returns the closest value that can make numerator completely divisible by the denominator                    |
| math.sin()       | Returns the sine of a number                                                                                 |
| math.sinh()      | Returns the hyperbolic sine of a number                                                                      |
| math.sqrt()      | Returns the square root of a number                                                                          |
| math.tan()       | Returns the tangent of a number                                                                              |
| math.tanh()      | Returns the hyperbolic tangent of a number                                                                   |
| math.trunc()     | Returns the truncated integer parts of a number                                                              |

**Math Constants**  
| Constant | Description                                       |
| -------- | ------------------------------------------------- |
| math.e   | Returns Euler's number (2.7182...)                |
| math.inf | Returns a floating-point positive infinity        |
| math.nan | Returns a floating-point NaN (Not a Number) value |
| math.pi  | Returns PI (3.1415...)                            |
| math.tau | Returns tau (6.2831...)                           |

# Python cmath Module

Python has a built-in module that you can use for mathematical tasks for complex numbers.

The methods in this module accepts int, float, and complex numbers. It even accepts Python objects that has a __ complex __() or __ float __() method.

The methods in this module almost always return a complex number. If the return value can be expressed as a real number, the return value has an imaginary part of 0.

The cmath module has a set of methods and constants.

**cMath Methods**  
| Method               | Description                                                                                                      |
| -------------------- | ---------------------------------------------------------------------------------------------------------------- |
| cmath.acos(x)        | Returns the arc cosine value of x                                                                                |
| cmath.acosh(x)       | Returns the hyperbolic arc cosine of x                                                                           |
| cmath.asin(x)        | Returns the arc sine of x                                                                                        |
| cmath.asinh(x)       | Returns the hyperbolic arc sine of x                                                                             |
| cmath.atan(x)        | Returns the arc tangent value of x                                                                               |
| cmath.atanh(x)       | Returns the hyperbolic arctangent value of x                                                                     |
| cmath.cos(x)         | Returns the cosine of x                                                                                          |
| cmath.cosh(x)        | Returns the hyperbolic cosine of x                                                                               |
| cmath.exp(x)         | Returns the value of Ex, where E is Euler's number (approximately 2.718281...), and x is the number passed to it |
| cmath.isclose()      | Checks whether two values are close, or not                                                                      |
| cmath.isfinite(x)    | Checks whether x is a finite number                                                                              |
| cmath.isinf(x)       | Check whether x is a positive or negative infinty                                                                |
| cmath.isnan(x)       | Checks whether x is NaN (not a number)                                                                           |
| cmath.log(x[, base]) | Returns the logarithm of x to the base                                                                           |
| cmath.log10(x)       | Returns the base-10 logarithm of x                                                                               |
| cmath.phase()        | Return the phase of a complex number                                                                             |
| cmath.polar()        | Convert a complex number to polar coordinates                                                                    |
| cmath.rect()         | Convert polar coordinates to rectangular form                                                                    |
| cmath.sin(x)         | Returns the sine of x                                                                                            |
| cmath.sinh(x)        | Returns the hyperbolic sine of x                                                                                 |
| cmath.sqrt(x)        | Returns the square root of x                                                                                     |
| cmath.tan(x)         | Returns the tangent of x                                                                                         |
| cmath.tanh(x)        | Returns the hyperbolic tangent of x                                                                              |

**cMath Constants**  
| Constant   | Description                                      |
| ---------- | ------------------------------------------------ |
| cmath.e    | Returns Euler's number (2.7182...)               |
| cmath.inf  | Returns a floating-point positive infinity value |
| cmath.infj | Returns a complex infinity value                 |
| cmath.nan  | Returns floating-point NaN (Not a Number) value  |
| cmath.nanj | Returns coplext NaN (Not a Number) value         |
| cmath.pi   | Returns PI (3.1415...)                           |
| cmath.tau  | Returns tau (6.2831...)                          |